<section class="text-gray-600 body-font">

  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col flex-wrap items-center mb-20 w-full text-center">
      <h1 class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Ciudados de la persona</h1>
      <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">Diferentes cuidados y consejos que pueden ayudar a una persona a sobrellevar la enfermedad.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="p-6 rounded-lg border border-gray-200">
          <div class="inline-flex justify-center items-center mb-4 w-10 h-10 text-violet-500 bg-violet-100 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">Protector solar</h2>
          <p class="text-base leading-relaxed">Usar siempre protector solar. Si pasas mucho tiempo frente a una pantalla, tambien se aconseja usarlo dentro de casa.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="p-6 rounded-lg border border-gray-200">
          <div class="inline-flex justify-center items-center mb-4 w-10 h-10 text-violet-500 bg-violet-100 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">Dieta saludable</h2>
          <p class="text-base leading-relaxed">Tener una dieta saludable ayuda a regular el buen funcionamiento de los organos internos.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="p-6 rounded-lg border border-gray-200">
          <div class="inline-flex justify-center items-center mb-4 w-10 h-10 text-violet-500 bg-violet-100 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">Ejercicio</h2>
          <p class="text-base leading-relaxed">Hacer ejercicio ayuda no solo a nuestro si no a nuestra mente tambien. No es necesario ir a un gimnasio, pero es importante intentar al menos estirar todos los musculos todos los dias ya que alivia la rigidez.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="p-6 rounded-lg border border-gray-200">
          <div class="inline-flex justify-center items-center mb-4 w-10 h-10 text-violet-500 bg-violet-100 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1zM4 22v-7"></path>
            </svg>
          </div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">Consultas médicas</h2>
          <p class="text-base leading-relaxed">Nunca dejes de ir a las consultas medicas y nunca cortes la medicación sin consultar primero a un profesional de la salud. Ellos son los que mejor conocen nuestra enfermedad y pueden ayudarnos a mejorar nuestra calidad de vida.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="p-6 rounded-lg border border-gray-200">
          <div class="inline-flex justify-center items-center mb-4 w-10 h-10 text-violet-500 bg-violet-100 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
          </div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">Apoyo</h2>
          <p class="text-base leading-relaxed">Busca apoyo siempre que lo necesites, a veces puede ser un familiar o amigo, y a veces es necesario que sea un profesional. No tengas miedo de ir a terapia.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="p-6 rounded-lg border border-gray-200">
          <div class="inline-flex justify-center items-center mb-4 w-10 h-10 text-violet-500 bg-violet-100 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
          </div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">Vacunas</h2>
          <p class="text-base leading-relaxed">Ten siempre el carnet de vacunacion actualizado y pide a tu medico que ayude a completarlo.</p>
        </div>
      </div>
    </div>
    <!-- <button class="flex px-8 py-2 mx-auto mt-16 text-lg text-white bg-violet-500 rounded border-0 focus:outline-none hover:bg-violet-600">Button</button> -->
  </div>
</section>