<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-8 w-full text-center">
      <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Diagnóstico</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">Articulo de <a class="italic hover:text-violet-800" href="https://www.reumaquiensos.org.ar/">Reuma quién sos?</a>.</p>
    </div>
    <div class="pt-2 mt-2 text-center sm:pl-8 sm:pb-8 sm:pt-2 sm:px-16 sm:mt-0 sm:text-left">
      <p class="mb-4 text-lg leading-relaxed">
        No existe una prueba específica para diagnosticar el lupus, la adecuada interpretación de los síntomas y el examen clínico completo permiten orientar el diagnóstico. En los análisis de sangre se puede detectar anticuerpos específicos que ponen en evidencia el desorden del sistema inmune, sin embargo algunos de éstos están relacionados con la actividad de la enfermedad y otros con manifestaciones clínicas de la misma.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El daño causado por el Lupus en órganos internos puede detectarse mediante los análisis de sangre y de orina, o bien con otros procedimientos como por ejemplo la biopsia renal o de piel serán de utilidad para determinar mejor el tratamiento.
      </p>
      <h1 class="text-xl font-bold text-gray-900 title-font">¿Cómo se hace el diagnóstico de lupus?</h1>
      <p class="mb-4 text-lg leading-relaxed">
        Dado que los síntomas de lupus se parecen a los de otras enfermedades y, a veces, son muy poco definidos, esto puede dificultar su diagnóstico. El Colegio Americano de Reumatología (ACR por sus siglas en inglés) publicó en 1982 una lista de 11 síntomas para ayudar a distinguir al lupus de otras enfermedades. Un paciente deberá reunir por lo menos 4 de los siguientes criterios para definir el diagnóstico, si bien los reumatólogos pueden sospechar la enfermedad aún antes de cumplirlos.
      </p>

      <ul class="mb-4 ml-8 text-lg list-disc">
        <li><b>Eritema Malar:</b> ronchas en las mejillas</li>
        <li><b>Eritema Discoide:</b> ronchas en placas sobreelevadas</li>
        <li><b>Fotosensibilidad:</b> reacción a la luz solar que causa la aparición o aumento de las manchas en la piel</li>
        <li><b>Úlceras Orales:</b> úlceras en la nariz o boca, habitualmente indoloras</li>
        <li><b>Artritis:</b> Inflamación y/o dolor y limitación del movimiento de las articulaciones que no llega a destruir el hueso como lo hacen otras enfermedades.</li>
        <li><b>Serositis:</b> pleuritis o pericarditis (inflamación de la membrana que envuelve el pulmón o corazón)</li>
        <li><b>Afección renal:</b> exceso de proteínas en la orina (mayor de 0,5 gramos al día) y/o cilindros celulares (elementos anormales que se forman de glóbulos rojos o blancos y/o células en el túbulo renal)</li>
        <li><b>Afección neurológica:</b> convulsiones y/o psicosis en ausencia de medicamentos o trastornos neurológicos que puedan producir estas manifestaciones</li>
        <li><b>Afección hematológica:</b> anemia hemolítica (destrucción de los glóbulos rojos) o leucopenia (glóbulos blancos por debajo de 4.000 células por milímetro cúbico) o linfopenia (menos de 1.500 linfocitos por milímetro cúbico) o trombocitopenia (menos de 100.000 plaquetas por milímetro cúbico).</li>
        <li><b>Anticuerpos antinucleares:</b> son autoanticuerpos que se dirigen contra el núcleo de las células. Se observan también en otras enfermedades y en bajo porcentaje en niños sanos. Su presencia no define por sí sola el diagnóstico si no están asociados a los síntomas de la enfermedad.</li>
        <li><b>Alteraciones inmunológicas:</b> anticuerpos anti DNA (anticuerpos contra el material genético de las células), anticuerpos anti-Sm positivos (son casi característicos de la enfermedad), anticuerpos antifosfolípidos, anticardiolipina, o prueba positiva falsa de sífilis (VDRL).</li>
      </ul>
      <p class="mb-4 text-lg leading-relaxed">
        No todos los síntomas tienen que presentarse simultáneamente, lo habitual es que se vayan sucediendo a lo largo de la evolución en forma lenta y progresiva. El diagnóstico, por consiguiente, debe hacerse en base a los síntomas del paciente y ayudado por datos de laboratorio que no son patognomónicos de la enfermedad.
      </p>

      <h1 class="text-xl font-bold text-gray-900 title-font">¿Cuáles son los exámenes de laboratorio útiles para el diagnóstico de lupus?</h1>
      <p class="mb-4 text-lg leading-relaxed">
        No existe hasta el momento ningún examen de laboratorio que haga el diagnóstico de lupus, debido a que el mismo es clínico y los datos del laboratorio son sólo orientativos.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        La prueba de anticuerpos antinucleares (ANA o FAN) es positiva en la mayoría de los pacientes con lupus sistémico y es uno de los exámenes de laboratorio más útiles disponibles para el diagnóstico en la actualidad. Si el examen es negativo, el paciente probablemente no tiene lupus sistémico. Por otro lado, un examen positivo, por sí sólo, no representa un diagnóstico de lupus dado que se puede encontrar también en las siguientes personas:
      </p>
      <ul class="mb-4 ml-8 text-lg list-disc">
        <li>Con otras enfermedades del tejido conectivo.</li>
        <li>Sin ningún síntoma.</li>
        <li>Tratados con algunos medicamentos como procainamida, hidralazina, isoniazida y cloropromazina.</li>
        <li>Con enfermedades diferentes al lupus como mononucleosis infecciosa, lepra, endocarditis bacteriana, paludismo y enfermedades del hígado.</li>
      </ul>


      <p class="mb-4 text-lg leading-relaxed">
        Dado que este examen puede ser positivo en infecciones, los resultados del FAN deben interpretarse considerando la historia médica del paciente.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        También los exámenes de laboratorio que miden los niveles de complemento en sangre son de utilidad. El complemento es una proteína de la sangre, que, junto con los anticuerpos, destruyen las bacterias. Es un “amplificador” de la función inmunológica. Si los niveles del complemento C3 y C4 son bajos y el paciente tiene FAN positivo, es más probable que el diagnóstico sea lupus.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Algunas veces se debe realizar una biopsia del riñón si los exámenes de orina o de sangre sugieren su afección. Las anormalidades renales varían en cada paciente. Con la biopsia el médico puede tener una idea del grado y el tipo de lesión del riñón y así indicar el tratamiento adecuado a cada paciente.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Cuando un paciente tiene muchos síntomas de lupus, el médico no tiene problemas para hacer el diagnóstico correcto e iniciar el tratamiento. Afortunadamente con el creciente conocimiento de la enfermedad, un número cada vez mayor de médicos consideran la posibilidad de un diagnóstico de lupus y derivar oportunamente al médico reumatólogo.
      </p>
    </div>
  </div>
</section>