<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-20 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Lupus neonatal</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3">
        Artículo sobre el lupus neonatal obtenido de <a class="italic hover:text-violet-800" href="http://comunidad.sap.org.ar/index.php/2016/03/09/lupus-neonatal/">Comunidad SAP</a>
      </p>
    </div>
    <div class="flex flex-col flex-wrap text-lg leading-relaxed whitespace-pre-line">
      <p class="mb-4 text-lg leading-relaxed">
        El lupus neonatal es una enfermedad infrecuente del feto y del recién nacido que se produce por el paso a través de la placenta de autoanticuerpos maternos como el anti-Ro y anti-La, los cuales se encuentran en aproximadamente un tercio de las pacientes con LES. Sin embargo, al igual que muchas madres con estos autoanticuerpos tienen hijos sin lupus neonatal, esta enfermedad puede ocurrir en recién nacidos de madres que no tenían diagnóstico de lupus.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El lupus neonatal es diferente del lupus eritematoso sistémico. En la mayoría de los casos las manifestaciones desaparecen espontáneamente entre los 3 y los 6 meses de vida sin dejar secuela.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El síntoma más frecuente es la aparición de una erupción en la piel a los pocos días o semanas del nacimiento, especialmente tras la exposición al sol, que es transitoria, y se cura sin dejar cicatrices. El segundo síntoma más habitual es un número anormal de células sanguíneas, o una función hepática alterada, generalmente leve, que tiende a mejorar sin tratamiento en varias semanas.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        También pueden presentar bloqueo cardíaco congénito, que es un trastorno en la conducción del corazón poco frecuente. El pulso del niño es bajo, por lo que ya se puede diagnosticar mediante ecografía cardíaca fetal entre las 15 y las 25 semanas de embarazo. A diferencia de las manifestaciones anteriores, esta complicación es permanente.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Los niños con lupus neonatal crecen y se desarrollan con normalidad, siendo bajísimas las posibilidades de que desarrollen lupus a lo largo de su vida.
      </p>
    </div>
  </div>
</section>