<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-20 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Lupus</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3">
        Información sobre la enfermedad lupus obtenida de <a class="italic hover:text-violet-800" href="https://www.reumaquiensos.org.ar/">Reuma quién sos?</a>.
      </p>
    </div>
    <div class="flex flex-col flex-wrap text-lg leading-relaxed whitespace-pre-line">

      <h1 class="mb-2 text-xl font-bold text-gray-900 title-font">¿Qué es el lupus?</h1>
      <p>
        El Lupus Eritematoso Sistémico es una enfermedad reumática que compromete muchos órganos en diferentes tiempos o en el mismo momento, es decir que además de afectar a las articulaciones y los músculos, puede dañar la piel y casi todos los órganos.
      </p>
      <p>
        Lupus significa “lobo” en latín. Este nombre muy antiguo, se debe a que esta enfermedad puede manchar la cara pareciéndose a las marcas que tienen en el rostro algunos lobos. No son iguales todas las formas de lupus, algunas solamente comprometen la piel (Lupus Cutáneo o discoide) y otras si afectan diferentes órganos incluyendo la piel y es llamado Lupus Eritematoso Sistémico.
      </p>
      <p>
        Es una enfermedad autoinmune; habitualmente el sistema inmunológico fabrica unas sustancias, llamadas anticuerpos que contribuyen a defendernos de por ejemplo los gérmenes entre otras cosas. En el lupus, el sistema inmunológico forma además de sustancias que nos defienden, otros anticuerpos dirigidos contra estructuras o tejidos propios normales llamados autoanticuerpos que pueden causar inflamación, daño en los tejidos y dolor contribuyendo a las manifestaciones clínicas del Lupus Eritematoso Sistémico.
      </p>
      <p>
        Si bien puede presentarse a cualquier edad tanto en niños como en ancianos es más frecuente entre los 20 y 40 años, siendo más en mujeres que en varones.
      </p>
      <p>
        La evolución de la enfermedad se desarrolla en fases de brote y otras en los que las manifestaciones de la enfermedad desaparecen llamado remisión.
      </p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">Tipos de lupus</h2>
      <p>
        La enfermedad no se presenta de la misma forma en todas las personas. Existen tres tipos de lupus: discoide, sistémico e inducido por medicamentos. A su vez, cada una de estas formas tiene gran variabilidad de un paciente a otro.
      </p>
      <p>
        <b>Discoide (cutáneo):</b> se limita a afectar la piel produciendo lesiones tipo roncha que aparecen en la cara, cuello, y el cuero cabelludo. El diagnóstico del lupus discoide se confirma con una biopsia de la piel. El lupus discoide habitualmente no afecta los órganos internos y, por este motivo, las pruebas de laboratorio pueden ser normales. Es muy raro que el lupus discoide cambie a la forma sistémica de la enfermedad afectando a otros órganos fuera de la piel.
      </p>
      <p>
        <b>Lupus eritematoso sistémico:</b> generalmente es más grave que el lupus discoide y puede afectar casi cualquier órgano del cuerpo. En algunas personas, se pueden afectar solamente la piel y las articulaciones. En otras, se afectan las articulaciones, los pulmones, los riñones, la sangre u otros órganos o tejidos. En general, cuando las personas mencionan la palabra “lupus” se refieren a la forma sistémica de la enfermedad. En el lupus sistémico se pueden presentar períodos en los que pocos o ningún síntoma estén presentes (períodos de “remisión”, de inactividad) o períodos en los que la enfermedad está activa (“recaídas o rebrote”).
      </p>
      <p>
        <b>Lupus inducido por medicamentos:</b> se presenta después del uso de algunos fármacos recetados para otras enfermedades, en particular anticonvulsivantes. Sin embargo, no todos los que toman estos medicamentos desarrollarán el lupus inducido por fármacos, se considera que sólo 4% de las personas que toman este tipo de medicinas pueden desarrollar esta complicación. Los síntomas del lupus inducido por fármacos son similares a aquellos de la forma sistémica pero van disminuyendo cuando se suspenden estos medicamentos hasta desaparecer.
      </p>
      <p>
        <b>Lupus neonatal:</b> Es poco común, afecta al feto o recién nacido al pasar los anticuerpos maternos por la placenta; aunque no siempre el neonato se ve afectado.</p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">Causas</h2>
      <p>
        Se desconoce la causa del lupus. Sin embargo, al tratarse de una enfermedad autoinmune diferentes factores interactuaron pudiendo influir en el sistema inmunológico y provoca el Lupus, así en personas genéticamente susceptibles la interacción de factores ambientales como la exposición a los rayos ultravioletas, virus, drogas entre otras podrían desencadenar el Lupus.
      </p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">¿Es contagioso?</h2>
      <p>El lupus no es contagioso y no se transmite de persona a persona como pasa con algunas infecciones.</p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">¿Se puede prevenir?</h2>
      <p>
        La enfermedad no puede prevenirse, si bien es cierto que los niños con lupus deben evitar situaciones que favorecen su reactivación (“brotes”), como son la exposición al sol sin protector solar, algunas infecciones virales, tratamientos hormonales y ciertas medicaciones.
      </p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">¿Me puedo vacunar?</h2>
      <p>
        Los pacientes con lupus se deben vacunar ya que tienen más riesgo de infecciones que el resto de la población. Se puede mantener el calendario habitual de vacunas, excepto que se encuentre en tratamiento inmunosupresor y no deba recibir vacunas a virus vivos atenuados (sarampión, paperas, rubéola, varicela y vacuna oral de la poliomielitis). También está contraindicada la vacuna oral contra la polio en familiares o convivientes de los niños que se encuentren con estos tratamientos. Se recomienda vacunarse contra el S. pneumoniae y la vacuna antigripal.
      </p>
    </div>
  </div>
</section>