<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-20 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Lupus</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3">
        Información sobre la enfermedad lupus.
      </p>
    </div>
    <div class="flex flex-col flex-wrap text-lg leading-relaxed whitespace-pre-line">

      <h1 class="mb-2 text-xl font-bold text-gray-900 title-font">¿Qué es el lupus?</h1>
      <p>
        El lupus es una enfermedad reumática, sistémica, crónica, autoinmune, no contagiosa y que todavía no tiene cura. Puede dañar cualquier parte del organismo, ya que el sistema inmune pierde la capacidad de diferenciar nuestras células y tejidos sanos.
      </p>
      <p>Cualquiera puede tener lupus, suele desarrollarse entre los 15 y los 45 años, también existen casos de ancianos, niños y recién nacidos.El 90% son mujeres.</p>


      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">Tipos de lupus</h2>
      <p>Discoide o cutáneo: Afecta la piel, se caracteriza por erupciones rojizas.
      </p>
      <p>Lupus eritematoso sistémico (LES): Es el más severo, ya que puede afectar cualquier órgano del cuerpo, los riñones pulmones, hígado, sangre, sistema nervioso, entre otros.</p>
      <p>Lupus causado por medicamentos: Es parecido al LES pero sus síntomas son menos severos y desaparecen cuando se deja el tratamiento.</p>
      <p>Lupus neonatal: Es poco común, afecta al feto o recién nacido al pasar los anticuerpos maternos por la placenta; aunque no siempre el neonato se ve afectado.</p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">Tratamiento</h2>
      <p>Es muy distinto según el órgano que afecte o el síntoma. Los corticoides, inmunosupresores y antimaláricos se consideran el tratamiento básico.</p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">Especialista</h2>
      <p>Es tratado por un médico especialista en Reumatología, acompañado de un equipo multidisciplinario, según se requiera.</p>

    </div>
  </div>
</section>