<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-row flex-wrap justify-between items-center mb-8 w-full sm:pl-8 sm:px-16">
      <h1 class="text-2xl font-medium text-gray-900 sm:text-3xl title-font">Lupus y OAM </h1>
      <div class="inline-flex items-center">
        <span class="flex flex-col flex-grow pr-4">
          <span class="text-lg font-medium text-right text-gray-900 title-font">Dra Maria Alicia Lazaro</span>
          <p class="text-base text-right">Investigadora Principal I.M.A.C.</p>
        </span>
        <img alt="testimonial" src="/assets/articulos/lupus-y-oam.jpeg" class="object-cover object-center flex-shrink-0 w-14 h-14 rounded-full">

      </div>
    </div>
    <div class="pt-2 mt-2 text-center sm:pl-8 sm:pb-8 sm:pt-2 sm:px-16 sm:mt-0 sm:text-left">
      <p class="text-lg leading-relaxed">Sobre la afectación del Lupus sobre el sistema osteoarticulomuscular:</p>
      <p class="text-lg leading-relaxed">
        Puede presentarse con artralgias, que es solo dolor en las articulaciones, como artritis donde el paciente presenta no sólo dolor sino también inflamación.
      </p>
      <p class="text-lg leading-relaxed">
        La  artritis del lupus es más benigna que la que presentan los pacientes con Artritis Reumatoidea porque no produce lesión del cartílago ni el hueso es decir no produce deformación.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Hay un solo compromiso que produce deformación que se llama la “Artropatía de Jaccoud“ donde la deformidad es debida a la lesión de los tendones y ligamentos ,que son los que estabilizan las articulaciones. Estas deformidades ocurren solo en el 5 % de los pacientes con Lupus.
      </p>

      <p class="mb-4 text-lg leading-relaxed">
        Como concepto la ARTRITIS DEL LUPUS ES BENIGNA  y responde fácilmente al tratamiento.
      </p>
      <h1 class="text-xl font-bold text-gray-900 title-font">¿Una persona con Lupus puede tener Artritis reumatoidea?</h1>
      <p class="mb-4 text-lg leading-relaxed">
        SI, PERO ES UNA RARA ASOCIACIÓN Y CUANDO SE PRESENTA SE DENOMINA SÍNDROME DE SUPERPOSICIÓN PORQUE TIENE DOS ENFERMEDADES REUMÁTICAS; para definirla no sólo tiene que tener los anticuerpos característicos de la Artritis sino también tener lesiones erosivas a nivel articular en las radiografías.
      </p>
      <p class="text-lg leading-relaxed">
        A nivel muscular el LUPUS PUEDE TENER MIOSITIS. Se caracteriza por tener debilidad muscular proximal, es decir “me cuesta levantar los brazos, peinarme, colgar la ropa, levantarme de una silla baja“. También la miositis generalmente es leve y no suele dejar secuelas.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Hay que saber que el paciente  con Lupus puede tener debilidad muscular por atrofia del músculo, por distintos factores como son la falta de ejercicio o el uso de corticoides.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Otra manifestación o complicación es un dolor muy importante a nivel óseo,  por tener Necrosis ósea Avascular, que significa que se produce un pequeño infarto en el hueso por falta de irrigación (sangre que no llega a esa porción del hueso), Se diagnostica por radiografías y por Resonancia Magnética y también es poco frecuente: Se puede deber a uso prolongado y en altas dosis de corticoides o al mismo Lupus por inflamación de las arterias del hueso. Es importante detectarlo precozmente para evitar el deterioro del hueso que forma parte de la articulación como por ejemplo la cabeza del fémur que forma parte de la cadera.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Como resumen diría que los brotes del lupus pueden tener artritis, que es una artritis que responde a los tratamientos que disponemos, y que es una artritis que en general no deja secuelas. Lo importante es mantener la medicación estable aunque estemos bien y hacer ejercicio para mantener el movimiento de las articulaciones y la fuerza muscular.
      </p>
    </div>
  </div>
</section>