<section class="text-gray-600 body-font">
  <div class="container flex flex-col items-center px-5 pb-24 mx-auto md:flex-row">
    <div class="mb-10 w-5/6 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0"> <img class="object-cover object-center rounded"
        alt="hero" src="assets/maraton-epof-23/evento-maraton-epof-23.png"> </div>
    <div
      class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
      <h1 class="mb-4 text-3xl font-medium text-gray-900 title-font sm:text-4xl">EPOF en movimiento</h1>
      <p class="mb-2 leading-relaxed">En el marco del Día Mundial de las EPOF nos juntamos para dar visibilidad,
        concientizar y acompañarnos. Por ello realizaremos una maratón el Domingo 26 de Febrero a las 9 hs. Se iniciará en
        el predio de la pileta municipal del parque Sarmiento, en la ciudad de Córdoba - Argentina. Podrán participar de
        los circuitos de 8 km competitivo, 4 km participativo y 2 km integración. Se entregarán medallas Finisher a
        todos los participantes que arriben a la meta final.
      </p>
      <p class="mb-2 leading-relaxed">
        Se considera EPOF (Enfermedad Poco Frecuente) a las enfermedades cuya prevalencia en la población es igual o inferior a 1 persona cada 2.000 habitantes.
        En Argentina, 3,6 millones de personas viven con al menos una EPOF, representando a 1 de cada 13 personas.
      </p>
      <p class="mb-2 leading-relaxed">
        En promedio a una persona le lleva 10 años llegar a un diagnóstico diferencial desde la aparición del primer.
        Siendo los adultos a quienes más años les demandan.
        Como consecuencia del retraso diagnóstico, el 35% de las personas no recibe apoyo o tratamiento donde al 31% se le agrava la enfermedad o síntomas y el 23% recibe un tratamiento inadecuado.
        En 6 de cada 10 personas, el vivir con una EPOF representa un impacto alto en su salud y en su vida cotidiana.
        Por lo que el 63% de las personas que viven con una EPOF no puede realizar sus actividades diarias con normalidad.
      </p>
      <p class="mb-2 leading-relaxed">
        Son enfermedades crónicas, complejas, progresivas, discapacitantes y, en ciertos casos, potencialmente mortales.
        Siete de cada 10 (72%) son de origen genético, y de ellas, el 70% se manifiesta al nacer o durante la niñez.
      </p>
      <p class="mb-2 leading-relaxed">
        El objetivo de esta maratón es dar visibilidad a las EPOF, para concientizar e informar a la sociedad en general, con el objetivo principal de que haya diagnósticos más tempranos, más interés y apoyo tanto a las personas diagnosticadas como a las familias de las mismas.
      </p>
      <a class="inline-flex self-start px-6 py-2 text-lg text-white bg-violet-500 rounded border-0 focus:outline-none hover:bg-yellow-600" href="https://bit.ly/3wX6wO1" target="_blank">Inscripción Online Aquí</a>

    </div>
    
  </div>
</section>



<!-- Resultados -->
<!-- <section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 pb-24 mx-auto">
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Los resultados</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3"> Los resultados de la maratón. </p>
    </div>
    <div class="text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-2 text-xl font-bold text-gray-900 title-font">Clasificación</h1>
      <p> A continuación se podrán descargar los resultados de la carrera. Cada archivo contiene la lista de
        participantes y los datos que corresponden: </p>
      <div> <b>
          <p>9 KM</p>
        </b>
        <li>Clasificación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-clasificacion-general.pdf"
            download="9KM Clasificación General">(Descargar aquí)</a></li>
        <li>Clasificación por categorías <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-clasificacion-categoria.pdf"
            download="9KM Clasificación por categorías">(Descargar aquí)</a></li>
        <li>Premiación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-premiacion-general.pdf"
            download="9KM Premiación General">(Descargar aquí)</a></li>
        <li>Premiación por categorías <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-premiacion-categorias.pdf"
            download="9KM Premiación por categorías">(Descargar aquí)</a></li> <b>
          <p>5 KM</p>
        </b>
        <li>Clasificación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/5k-clasificacion.pdf"
            download="5KM Clasificación General">(Descargar aquí)</a></li>
        <li>Premiación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/5k-premiacion.pdf" download="5KM Premiación General">(Descargar
            aquí)</a></li>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-900 title-font">Fotos</h1>
      <p> Se puede acceder al siguiente link para ver las fotos de la maratón. Proximaménte añadiremos las fotos
        publicadas por los usuarios. <a class="text-violet-400 hover:text-violet-900"
          href="https://photos.app.goo.gl/cRQBHbxykFnevAbdA">Link aquí</a> </p>
    </div>
  </div>
</section> -->

<section class="overflow-hidden text-gray-500 body-font">
  <div class="container px-5 pb-24 mx-auto">
    <!-- Titulo de seccion -->
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-600 sm:text-4xl title-font">La Carrera</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3"> Toda la info sobre la maratón. </p>
    </div>
    <div class="text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-2 text-xl font-bold text-gray-600 title-font">Formato</h1>
      <p>El evento se realizará el día Domingo 26 de Febrero con largada a las 9 hs., el epicentro de la carrera y lugar
        de largada y llegada será el predio de la pileta municipal del parque Sarmiento, en la ciudad de Córdoba -
        Argentina. Se realizarán <b>inscripciones anticipadas</b> a partir del 01/02/2023. Las acreditaciones se
        realizarán el día 25 de Febrero de 17 a 20 hs en el predio de la Pileta Municipal del parque Sarmiento y el mismo día de la carrera
        de 8 a 9hs para los participantes del interior. Podrán participar de las distancias de 8 km competitivo con
        premiación tanto en la general como en categorías, 4 km participativo con premiación sólo a la general y 2 km
        integración donde no habrá premiación. Se entregarán medallas Finisher a todos los participantes que arriben a
        la meta final. </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Acreditaciones y entrega de kit</h1>
      <p>Las acreditaciones son presenciales y personales, se realizarán el día 25 de Febrero de 17 a 20 hs en el predio de la Pileta Municipal del parque Sarmiento y el mismo día de la carrera
        de 8 a 9hs para los participantes del interior. </p>
      <p>Requisitos para presentar en la acreditación:</p>
      <div class="ml-8">
        <li>D.N.I. del participante.</li>
        <li>Comprobante de Pago (Impreso o Digital en Celular, Tablet, etc.)</li>
        <li>Consentimiento Firmado <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton-epof-23/CONSENTIMIENTO DE CORREDORES.pdf"
            download="CONSENTIMIENTO DE CORREDORES">(Descargar aquí)</a></li>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Cronograma general</h1>
      <div class="ml-8">
        <p class="font-semibold text-gray-600"> SÁBADO 25/02 </p>
        <p>
          <li>17 hs Apertura de Acreditaciones.</li>
          <li>20 hs Cierre de Acreditaciones.</li>
        </p>
        <p class="pt-4 font-semibold text-gray-600"> DOMINGO 26/02 </p>
        <p>
          <li>7 hs Apertura de Acreditaciones sólo para participantes del interior de Córdoba.</li>
          <li>8:30 hs Cierre de Acreditaciones.</li>
          <li>9 hs Entrada en calor para todos los participantes.</li>
          <li>9:15 hs Largada de la carrera en todas las distancias.</li>
          <li>10:15 hs Aproximadamente Comienzo de entrega de Premios y Sorteos.</li>
          <li>11:30 hs Aproximadamente Fin de la Jornada.</li>
        </p>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Circuito</h1>
      <p> Los recorridos serán de <b>8k, 4k, 2k caminantes y Running Kids</b>, y recorrerán las calles del parque
        Sarmiento. La largada será desde el predio de la pileta municipal hacia el centro del parque (ver mapa)</p>
      <div class="flex flex-wrap justify-center">
        <picture class="m-4 lg:w-3/5"> <img src="assets/maraton-epof-23/mapa-evento-maraton-epof-23.jpeg" class="rounded-lg"> </picture>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Hidratación</h1>
      <p> Habrá puestos de hidratación con agua en el recorrido y en la llegada recibirán una botella de <b>Bebida
          Isotónica POWERADE</b> por cada participante, que rehidrata y repone sales minerales.</p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Resultados</h1>
      <p> La toma de tiempos y clasificación se realizará mediante el sistema de chips. El sistema combina tecnología
        avanzada en clasificación con simplicidad de uso. La clasificación será realizada a través del “Tiempo Oficial”
        de carrera (desde el inicio de la competencia hasta que el corredor cruza el arco de llegada). El sistema de
        toma de tiempos tiene un porcentaje mínimo de error, lo que podría llegar a provocar que en ciertas ocasiones
        algunas lecturas de tiempo se pierdan.</p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Lluvia</h1>
      <p> <b>El evento NO se suspende por lluvia</b>, sólo en caso de que la organización considere que el mal tiempo
        pueda ser peligroso para la integridad física de los corredores, lo cual será decidido el mismo día del evento.
      </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Seguridad</h1>
      <p> En el evento habrá un servicio de ambulancias y médico encargado de atender cualquier hecho de emergencia
        durante el período que dure la carrera hasta el cierre de la misma.</p>
      <p> En caso de accidente, la cobertura que brinda la Organización para la competencia, tendrá un alcance hasta que
        el competidor ingrese al hospital de la zona de la carrera. La atención médica posterior está a cargo del
        participante, no resultando responsable MISION DXT ni ningún otro organizador de las consecuencias que pudieran
        resultar de dicha atención médica.</p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Certificado médico</h1>
      <p>Con el afán de promover el cuidado personal y la salud de cada uno de los participantes, recomendamos el
        chequeo médico por lo menos una vez cada 6 meses y la presentación del certificado médico para todos los
        participantes de más de 4km, actualizado y firmado por médico matriculado habilitandolo para la actividad física de
        la carrera, no obstante la distancia a participar insistimos en el chequeo médico para todo aquel que desarrolle
        actividades físicas como control y prevención.</p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Medio Ambiente</h1>
      <p>La tarea más importante que tenemos que llevar a cabo entre los participantes, el público y la Organización es
        la de cuidar el medio ambiente y no dejar residuos en el trayecto, largada y llegada de la carrera.</p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Baños y Guardarropas</h1>
      <p>Se dispondrá de baños y guardarropas para que los participantes puedan guardar sus pertenencias. Está
        prohibido dejar elementos de valor (documentos, llaves, billeteras, etc.), dado que la organización no se
        responsabilizará por las pérdidas de objetos.</p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Premios</h1>
      <p>Los ganadores recibirán los premios el día de la carrera al finalizar la misma, SIN PODER RECLAMAR EL PREMIO
        EN CASO DE NO ESTAR PRESENTE.</p>
      <div class="ml-8">
        <p class="font-semibold text-gray-600">Distancia 8km</p>
        <p>
          <li>General: Damas y Caballeros: 1° al 3° puesto.</li>
          <li>Categorías: Damas y Caballeros Hasta 19 años / 20 a 29 / 30 a 39 / 40 a 49 / 50 a 59
            / 60 a más años.</li>
        </p>
        <p class="font-semibold text-gray-600">Distancia 4km</p>
        <p>
          <li>General: Damas y Caballeros: 1° al 5° puesto.</li>
        </p>
        <p class="font-semibold text-gray-600">Distancia 2km</p>
        <p>
          <li>Solo participativa. No habrá toma de tiempos, clasificación ni premiación en esta distancia.</li>
        </p>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Inscripciones</h1>
      <a class="inline-flex self-start px-6 py-2 text-lg text-white bg-violet-500 rounded border-0 focus:outline-none hover:bg-yellow-600" href="https://bit.ly/3wX6wO1" target="_blank">Inscripción Online Aquí</a>
      <p class="mt-4"> <b>Valor de la Inscripción:</b> (Estos importes incluyen los gastos de cobro por sistema on-Line)
      </p>
      <div class="overflow-y-scroll md:overflow-hidden">
        <table class="my-4 border border-collapse border-slate-400">
          <thead>
            <tr>
              <th scope="col" class="p-4 border border-slate-300"></th>
              <th scope="col" class="p-4 border border-slate-300">Fecha inicio</th>
              <th scope="col" class="p-4 border border-slate-300">Fecha fin</th>
              <th scope="col" class="p-4 border border-slate-300">Tarifa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="p-4 border border-slate-300">
                <p>Inscripción Anticipada</p>
                <p>CON REMERA</p>
              </th>
              <td class="p-4 border border-slate-300">01/02/2023</td>
              <td class="p-4 border border-slate-300">
                <p>Hasta agotar stock de remeras</p>
              </td>
              <td class="p-4 border border-slate-300">
                <p>P/ 8km  $3300</p>
                <p>P/ 4km  $3100</p>
                <p>P/ 2km  $2500</p>
              </td>
            </tr>
            <tr>
              <th scope="row" class="p-4 border border-slate-300"></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" class="p-4 border border-slate-300">
                <p>Inscripción Anticipada</p>
                <p>SIN REMERA</p>
              </th>
              <td class="p-4 border border-slate-300">01/02/2023</td>
              <td class="p-4 border border-slate-300">Hasta agotar cupos</td>
              <td class="p-4 border border-slate-300">
                <p>P/ 8km  $1800</p>
                <p>P/ 4km  $1600</p>
                <p>P/ 2km  $1000</p>
              </td>
            </tr>
            <tr>
              <th scope="row" class="p-4 border border-slate-300"></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" class="p-4 border border-slate-300">
                <p>REMERA SOLA</p>
              </th>
              <td class="p-4 border border-slate-300">01/02/2023</td>
              <td class="p-4 border border-slate-300">Hasta agotar stock de remeras</td>
              <td class="p-4 border border-slate-300">
                <p>$2000</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="pt-8">La Inscripción Incluye:</p>
      <div class="ml-8">
        <li>Derecho a la Participación de la carrera dentro del circuito establecido con día y hora prevista por la
          organización.</li>
        <li>Derecho a todos los servicios brindados dentro del circuito. (Hidratación durante y al finalizar la carrera,
          emergencias, custodia policial de tránsito, seguridad y contención.)</li>
        <li>Derecho al seguro de Responsabilidad civil que actúa en el epicentro del evento y en el circuito.</li>
        <li>Designación de sobres personalizados para retiro de chip (solo 8km)</li>
        <li><b>KIT DE CORREDOR</b> que incluye la Remera Oficial del evento en caso de adquirirla y productos de auspiciantes.</li>
      </div>
      <p class="mt-4"> <b>Remera</b></p>
      <p>La remera viene en los siguientes talles 06, 08, 10, 12, XS, S, M, L, XL, XXL y XXXL.</p>
      <img src="assets/maraton-epof-23/remera-epof.jpeg" class="rounded-lg md:w-1/2">
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Cupos</h1>
      <p>Los cupos son limitados. Una vez completados se cerrarán las inscripciones, no se aceptarán más inscriptos y
        NO se podrá inscribir el día de la carrera. En caso de quedar cupos el día de la carrera si se podrá inscribir.
      </p>
    </div>
  </div>
</section>

<section class="overflow-hidden text-gray-500 body-font">
  <div class="container px-5 pb-24 mx-auto">
    <!-- Titulo de seccion -->
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-600 sm:text-4xl title-font">Enfermedades Poco Frecuentes</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3">Las EPOF que nos acompañan</p>
    </div>
    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Síndrome de Sjögren</h1>
      <p class="text-base">
        El síndrome de Sjögren es una enfermedad autoinmune sistémica que afecta a las glándulas encargadas de producir líquidos como la saliva, lágrimas y líquidos que hidratan, lubrican y suavizan las partes del organismo que están en contacto con el exterior.
        Además, la enfermedad puede afectar a cualquier órgano del cuerpo como riñones y pulmones, produciendo una gran variedad de síntomas.
        Pero los diversos síntomas y manifestaciones no siempre aparecen en todos los pacientes por lo que puede ser difícil de diagnosticar.
      </p>
    </div>

    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Atrofia Muscular Espinal</h1>
      <p class="text-base">
        La Atrofia Muscular Espinal (AME) es una enfermedad hereditaria que destruye progresivamente las neuronas motoras que controlan la actividad esencial del músculo esquelético, tal como hablar, caminar, respirar y tragar, lo que provoca debilidad y atrofia muscular.
      </p>
    </div>

    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Angioedema Hereditario</h1>
      <p class="text-base">
        El Angioedema Hereditario (AEH) se manifiesta clínicamente con severos episodios recurrentes de edemas (hinchazón) que afectan diferentes partes del cuerpo, siendo los más comunes los edemas de extremidades, cara y vías respiratorias altas, laringe o glotis.
      </p>
    </div>

    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Síndrome De Townes Brocks De Novo</h1>
      <p class="text-base">
        El síndrome de Townes-Brocks (TBS) es un cuadro malformativo multisistémico que presenta herencia autosómica dominante. Los defectos que se observan en los pacientes muestran un patrón de manifestación variable, pero la mayoría tienen dos o más de las siguientes anomalías: alteraciones auriculares y de oído, defectos de extremidades de las manos y atresia o estenosis en el ano, con o sin fístula.
        Se asocia con frecuencia a otros signos que afectan principalmente a riñones y al corazón.
      </p>
      <p class="text-base">
        En Argentina hay un solo niño que presenta el síndrome junto con otras afecciones y alergias, diagnosticado en Córdoba Capital confirmado en el hospital Garrahan y sin casuística.
      </p>
    </div>


    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Leucodistrofia</h1>
      <p class="text-base">
        Las leucodistrofias conforman un grupo de enfermedades genéticas que destruyen la sustancia blanca (mielina) que recubre los nervios del sistema nervioso central (cerebro y médula espinal). Al verse dañada esta sustancia, los mensajes nerviosos se ven interrumpidos. Existen más de 30 tipos de leucodistrofias y algunas aún no han sido identificadas.Todas las funciones vitales se ven afectadas. Producen parálisis, pérdida de la vista, la audición, la palabra, la memoria. Siendo el orden de aparición de los síntomas aleatorio.
      </p>
    </div>

    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Distrofia Muscular de Duchenne</h1>
      <p class="text-base">
        La Distrofia Muscular de Duchenne es una enfermedad poco frecuente, de origen genético, crónica, progresiva y de condición discapacitante. Compromete la función motora generando dependencia progresiva para la mayoría de las actividades de la vida cotidiana. Los síntomas pueden incluir fatiga, problemas de aprendizaje y discapacidad intelectual. Pero se caracteriza por debilidad muscular y dificultad progresiva para caminar.
      </p>
    </div>


    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Inmunodeficiencia Primaria</h1>
      <p class="text-base">
        Las inmunodeficiencias primarias (IDP) son un grupo de alrededor de 485 enfermedades, en su gran mayoría hereditarias, generadas cuando parte del sistema inmune está ausente o no funciona adecuadamente. 
        Las personas con IDP son propensas a contraer infecciones recurrentes, persistentes y de difícil curación.
      </p>
    </div>

    <div class="mb-3 text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-1 font-bold text-gray-600 title-font">Trombofilia</h1>
      <p class="text-base">La trombofilia es una alteración en la sangre que impide una coagulación normal. Esto aumenta la probabilidad de que los vasos sanguíneos se coagulen (trombosis) en cualquier parte del cuerpo (arterias y venas). Se detecta cuando hay perdidas de embarazos, partos prematuros, muertes dentro del utero, etc, y produce que los bebes crezcan poco.</p>
    </div>
  </div>
</section>