<section class="text-gray-600 body-font">
  <div class="container flex flex-col items-center px-5 pb-24 mx-auto md:flex-row">
    <div class="mb-10 w-5/6 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0"> <img class="object-cover object-center rounded"
        alt="hero" src="assets/maraton-lupus-23/flyer.jpeg"> </div>
    <div
      class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
      <h1 class="mb-4 text-3xl font-medium text-gray-900 title-font sm:text-4xl">Movimiento Lupus 2023</h1>
      <p class="mb-8 leading-relaxed">En el marco del Día Mundial del Lupus nos juntamos para dar visibilidad,
        concientizar y acompañarnos. Por ello realizaremos una maratón el Domingo 14 de Mayo a las 9 hs. Se iniciará en
        el predio de la pileta municipal del Parque Sarmiento, en la ciudad de Córdoba - Argentina. Podrán participar de
        los circuitos de 10 km y 5km competitivo, y 2 km integración. Se entregarán medallas Finisher a
        todos los participantes que arriben a la meta final.</p>
        <a class="inline-flex self-start px-6 py-2 text-lg text-white bg-violet-500 rounded border-0 focus:outline-none hover:bg-yellow-600" href="https://bit.ly/3mREnX0" target="_blank">Inscripción Online Aquí</a>
    </div>
  </div>
</section>
<!-- <section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 pb-24 mx-auto">
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Los resultados</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3"> Los resultados de la maratón. </p>
    </div>
    <div class="text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-2 text-xl font-bold text-gray-900 title-font">Clasificación</h1>
      <p> A continuación se podrán descargar los resultados de la carrera. Cada archivo contiene la lista de
        participantes y los datos que corresponden: </p>
      <div> <b>
          <p>9 KM</p>
        </b>
        <li>Clasificación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-clasificacion-general.pdf"
            download="9KM Clasificación General">(Descargar aquí)</a></li>
        <li>Clasificación por categorías <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-clasificacion-categoria.pdf"
            download="9KM Clasificación por categorías">(Descargar aquí)</a></li>
        <li>Premiación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-premiacion-general.pdf"
            download="9KM Premiación General">(Descargar aquí)</a></li>
        <li>Premiación por categorías <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/9k-premiacion-categorias.pdf"
            download="9KM Premiación por categorías">(Descargar aquí)</a></li> <b>
          <p>5 KM</p>
        </b>
        <li>Clasificación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/5k-clasificacion.pdf"
            download="5KM Clasificación General">(Descargar aquí)</a></li>
        <li>Premiación General <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton/clasificacion/5k-premiacion.pdf" download="5KM Premiación General">(Descargar
            aquí)</a></li>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-900 title-font">Fotos</h1>
      <p> Se puede acceder al siguiente link para ver las fotos de la maratón. Proximaménte añadiremos las fotos
        publicadas por los usuarios. <a class="text-violet-400 hover:text-violet-900"
          href="https://photos.app.goo.gl/cRQBHbxykFnevAbdA">Link aquí</a> </p>
    </div>
  </div>
</section> -->
<section class="overflow-hidden text-gray-500 body-font">
  <div class="container px-5 pb-24 mx-auto">
    <!-- Titulo de seccion -->
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-600 sm:text-4xl title-font">La Carrera</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3"> Toda la info sobre la maratón.</p>
    </div>
    <div class="text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-2 text-xl font-bold text-gray-600 title-font">Formato</h1>
      <p> El evento se realizará el día Domingo 08 de Mayo con largada a las 9hs., el epicentro de la carrera y lugar
        de largada y llegada será el predio de la pileta municipal del parque Sarmiento, en la ciudad de Córdoba -
        Argentina. Se realizarán <b>inscripciones anticipadas</b> a partir del 18/04/2023. Las acreditaciones se
        realizarán el día 13 de Mayo de 16 a 19hs en el predio de la pileta municipal del parque Sarmiento y el mismo día de la carrera
        de 7:30hs a 8:30hs para los participantes del interior. Podrán participar de las distancias de 10km con premiación en la general del 1° al 5° puesto,
        en 5km con premiación solo a la general del 1° al 3° lugar y 2 km integración donde no habrá premiación.
        Se entregarán medallas Finisher a todos los participantes que arriben a la meta final. </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Acreditaciones y entrega de kit</h1>
      <p> Las acreditaciones son presenciales y personales, se realizarán el día 13 de Mayo de 16 a 19hs en el predio de la pileta Municipal del Parque Sarmiento.
        Y el mismo día de la carrera de 7:30 a 8:30hs para los participantes del interior. </p>
      <p>Requisitos para presentar en la acreditación:</p>
      <div class="ml-8">
        <li>D.N.I. del participante.</li>
        <li>Comprobante de Pago (Impreso o Digital en Celular, Tablet, etc.)</li>
        <li>Consentimiento Firmado en caso de no haberse inscripto on line <a class="text-violet-400 hover:text-violet-900"
            href="../../../assets/maraton-lupus-23/CONSENTIMIENTO DE CORREDORES.pdf"
            download="CONSENTIMIENTO DE CORREDORES">(Descargar aquí)</a></li>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Cronograma general</h1>
      <div class="ml-8">
        <p class="font-semibold text-gray-600"> SÁBADO 13/05 </p>
        <p>
          <li>16hs Apertura de Acreditaciones en predio de la pileta municipal del parque Sarmiento.</li>
          <li>19hs Cierre de Acreditaciones.</li>
        </p>
        <p class="pt-4 font-semibold text-gray-600"> DOMINGO 14/05 </p>
        <p>
          <li>7:30hs Apertura de Acreditaciones solo para participantes del interior de Córdoba.</li>
          <li>8hs Comienzo del evento</li>
          <li>8:30hs Cierre de Acreditaciones.</li>
          <li>9hs Entrada en calor para todos los participantes.</li>
          <li>9:15hs Largada de la carrera en todas las distancias.</li>
          <li>11hs Aproximadamente Comienzo de entrega de Premios y Sorteos.</li>
          <li>12hs Aproximadamente Fin de la Jornada.</li>
        </p>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Circuito</h1>
      <p> Los recorridos serán de <b>10k, 5k, 2k caminantes</b>, y recorrerán las calles del parque
        Sarmiento. La largada será desde el predio de la pileta municipal hacia el centro del parque.</p>
      <!-- <div class="flex flex-wrap justify-center">
        <picture class="m-4 lg:w-3/5"> <img src="assets/maraton/circuito-2km.png" class="rounded-lg"> </picture>
        <picture class="m-4 lg:w-3/5"> <img src="assets/maraton/circuito-5-9k.png" class="rounded-lg"> </picture>
      </div> -->
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Hidratación</h1>
      <p> Habrá puestos de hidratación en el recorrido con agua y en la llegada.</p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Lluvia</h1>
      <p> <b>El evento NO se suspende por lluvia</b>, sólo en caso de que la organización considere que el mal tiempo
        pueda ser peligroso para la integridad física de los corredores, lo cual será decidido el mismo día del evento.
      </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Seguridad</h1>
      <p> En la prueba habrá un servicio de ambulancias y médico encargado de atender cualquier hecho de emergencia
        durante el período que dure la prueba hasta el cierre de la misma. </p>
      <p> En caso de accidente, la cobertura que brinda la Organización para la competencia, tendrá un alcance hasta que
        el competidor ingrese al hospital de la zona de la carrera. La atención médica posterior está a cargo del
        participante, no resultando responsable MISION DXT ni ningún otro organizador de las consecuencias que pudieran
        resultar de dicha atención médica. </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Certificado médico</h1>
      <p> Con el afán de promover el cuidado personal y la salud de cada uno de los participantes, recomendamos el
        chequeo médico por lo menos una vez cada 6 meses y la presentación del certificado médico para todos los
        participantes más de 5km, actualizado y firmado por médico matriculado habilitandolo para la actividad física de
        la carrera, no obstante la distancia a participar insistimos en el chequeo médico para todo aquel que desarrolle
        actividades físicas como control y prevención. </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Medio Ambiente</h1>
      <p> La tarea más importante que tenemos que llevar a cabo entre los participantes, el público y la Organización es
        la de cuidar el medio ambiente y no dejar residuos en el trayecto, largada y llegada de la carrera. </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Baños y Guardarropas</h1>
      <p> Se dispondrá de baños y guardarropas para que los participantes puedan guardar sus pertenencias. Está
        prohibido dejar elementos de valor (documentos, llaves, billeteras, etc.), dado que la organización no se
        responsabilizará por las pérdidas de objetos. </p>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Premios</h1>
      <p> Los ganadores recibirán los premios el día de la carrera al finalizar la misma, SIN PODER RECLAMAR EL PREMIO
        EN CASO DE NO ESTAR PRESENTE. </p>
      <div class="ml-8">
        <p class="font-semibold text-gray-600"> Distancia 10km </p>
        <p>
          <li>General: Damas y Caballeros: 1° al 5° puesto.</li>
        </p>
        <p class="font-semibold text-gray-600"> Distancia 5km </p>
        <p>
          <li>General: Damas y Caballeros: 1° al 3° puesto.</li>
        </p>
        <p class="font-semibold text-gray-600"> Distancia 2km </p>
        <p>
          <li>Solo participativa. No habrá toma de tiempos, clasificación ni premiación en esta distancia.</li>
        </p>
      </div>
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Inscripciones</h1>
      <a class="inline-flex self-start px-6 py-2 text-lg text-white bg-violet-500 rounded border-0 focus:outline-none hover:bg-yellow-600" href="https://bit.ly/3mREnX0" target="_blank">Inscripción Online Aquí</a>
      <p class="mt-4"> <b>Valor de la Inscripción:</b> (Estos importes incluyen los gastos de cobro por sistema on-Line)
      </p>
      <div class="overflow-y-scroll md:overflow-hidden">
        <table class="my-4 border border-collapse border-slate-400">
          <thead>
            <tr>
              <th scope="col" class="p-4 border border-slate-300"></th>
              <th scope="col" class="p-4 border border-slate-300">Fecha inicio</th>
              <th scope="col" class="p-4 border border-slate-300">Fecha fin</th>
              <th scope="col" class="p-4 border border-slate-300">Tarifa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="p-4 border border-slate-300">
                <p>Inscripción Anticipada</p>
                <p>CON REMERA</p>
              </th>
              <td class="p-4 border border-slate-300">18/04/2023</td>
              <td class="p-4 border border-slate-300">
                <p>10/05/23</p>
                <p>o hasta agotar stock de remeras</p>
              </td>
              <td class="p-4 border border-slate-300">
                <p>P/10km $3800</p>
                <p>P/5km $3600</p>
                <p>P/2km $3000</p>
              </td>
            </tr>
            <tr>
              <th scope="row" class="p-4 border border-slate-300"></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" class="p-4 border border-slate-300">
                <p>Inscripción Anticipada</p>
                <p>SIN REMERA</p>
              </th>
              <td class="p-4 border border-slate-300">18/04/2023</td>
              <td class="p-4 border border-slate-300">Hasta agotar cupos</td>
              <td class="p-4 border border-slate-300">
                <p>P/10km $1800</p>
                <p>P/5km $1600</p>
                <p>P/2km $1000</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="pt-8">La Inscripción Incluye:</p>
      <div class="ml-8">
        <li>Derecha a la Participación de la carrera dentro del circuito establecido con día y hora prevista por la
          organización.</li>
        <li>Derecho a todos los servicios brindados dentro del circuito. (Hidratación durante y al finalizar la carrera,
          emergencias, custodia policial de tránsito, seguridad y contención.)</li>
        <li>Derecho al seguro de Responsabilidad civil que actúa en el epicentro del evento y en el circuito.</li>
        <li>Designación de <b>KIT DE CORREDOR</b> que incluirá la Remera Oficial del evento en caso de adquirirla, Número de Corredor y productos de auspiciantes.
        </li>
      </div>
      <!-- <p class="mt-4"> <b>Remera:</b></p> <img src="assets/maraton/remera.png" class="rounded-lg"> -->
      <h1 class="mt-8 mb-2 text-xl font-bold text-gray-600 title-font">Cupos</h1>
      <p>Los cupos serán limitados. Una vez completado se cerrarán las inscripciones, no se aceptarán más inscriptos y
        NO se podrá inscribir el día de la carrera. En caso de quedar cupos el día de la carrera si se podrá inscribir.
      </p>
    </div>
  </div>
</section>