<section class="text-gray-600 body-font">
  <div class="container flex flex-col items-center px-5 py-24 mx-auto md:flex-row">
    <div class="mb-10 w-5/6 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="assets/cumple/cumple-invitacion.jpeg">
    </div>
    <div class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
      <h1 class="mb-4 text-3xl font-medium text-gray-900 title-font sm:text-4xl">¡Cumplimos 10 años!</h1>
      <p class="mb-8 leading-relaxed">Te invitamos a compartir y festejar nuestro 10mo aniversario!</p>
      <p class="mb-8 leading-relaxed">Comunicate através de nuestras redes sociales o nuestro mail para inscribirte en el evento</p>
      <p class="mb-8 leading-relaxed">Te esperamos!</p>
    </div>
  </div>
</section>
