<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap mb-20 w-full">
      <div class="mb-6 w-full lg:w-1/2 lg:mb-0">
        <h1 class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Artículos</h1>
        <div class="w-20 h-1 bg-violet-500 rounded"></div>
      </div>
      <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">
        Espacio dedicado a articulos sobre la enfermedad y la atención médica. Lo escriben los miembros del equipo de la fundación y profesionales de la salud. Todo el contenido está validado previamente.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 xl:w-1/4 md:w-1/2">
        <div class="p-6 bg-gray-100 rounded-lg cursor-pointer hover:shadow-md hover:bg-yellow-100 hover:shadow-yellow-400" routerLink="/lupus">
          <div class="flex flex-row items-start space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            <h2 class="mb-4 text-lg font-bold text-gray-900 title-font">Lupus</h2>
          </div>
          <p class="text-base leading-relaxed">Qué es y que sabemos.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2">
        <div class="p-6 bg-gray-100 rounded-lg cursor-pointer hover:shadow-md hover:bg-yellow-100 hover:shadow-yellow-400" routerLink="/cuidados">
          <div class="flex flex-row items-start space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            <h2 class="mb-4 text-lg font-bold text-gray-900 title-font">Cuidados</h2>
          </div>
          <p class="text-base leading-relaxed">Cuidados generales de salud.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2">
        <div class="p-6 bg-gray-100 rounded-lg cursor-pointer hover:shadow-md hover:bg-yellow-100 hover:shadow-yellow-400" routerLink="/sintomas">
          <div class="flex flex-row items-start space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            <h2 class="mb-4 text-lg font-bold text-gray-900 title-font">Sintomas</h2>
          </div>
          <p class="text-base leading-relaxed">Sintomas habituales.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2">
        <div class="p-6 bg-gray-100 rounded-lg cursor-pointer hover:shadow-md hover:bg-yellow-100 hover:shadow-yellow-400" routerLink="/hospitales">
          <div class="flex flex-row items-start space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            <h2 class="mb-4 text-lg font-bold text-gray-900 title-font">Hospitales</h2>
          </div>
          <p class="text-base leading-relaxed line-clamp-2 text-ellipsis">Lugares de atención, farmacias y más.</p>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2">
        <div class="p-6 bg-gray-100 rounded-lg cursor-pointer hover:shadow-md hover:bg-yellow-100 hover:shadow-yellow-400" routerLink="/salud-publica">
          <div class="flex flex-row items-start space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            <h2 class="mb-4 text-lg font-bold text-gray-900 title-font">Salud pública y social</h2>
          </div>
          <p class="text-base leading-relaxed">Obras sociales, coberturas y leyes.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>