<section class="text-gray-600 body-font">
  <div class="container px-5 pt-24 mx-auto">
    <div class="mb-20 text-center">
      <h1 class="mb-4 text-2xl font-medium text-center text-gray-900 sm:text-3xl title-font">Encontranos</h1>
      <p class="mx-auto text-base leading-relaxed xl:w-2/4 lg:w-3/4">Podes encontrarnos en nuestra sede o en nuestras redes sociales. También podes enviarnos un mail a nuestro correo electrónico o realizar un aporte económico para mantener la sede.</p>
    </div>
    <div class="flex flex-wrap -mx-2 lg:w-4/5 sm:mx-auto sm:mb-2">
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="currentColor" viewBox="0 0 24 24" stroke="none" stroke-width="2">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <a href="https://goo.gl/maps/UARqvwsvSc18uUPe7" class="font-medium title-font">25 de Mayo 140 Subsuelo, Córdoba Capital</a>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="currentColor" stroke="none" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
          <a class="font-medium title-font" href="https://www.facebook.com/LupusCordoba">@LupusCordoba</a>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
          <a class="font-medium title-font" href="https://www.instagram.com/fundacion_lupus_cordoba_/">@fundacion_lupus_cordoba_</a>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
          <a class="font-medium title-font" href="https://twitter.com/LupusCordoba?s=20&t=NAPky4AF0glImpIHYBIw7Q">@LupusCordoba</a>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
          <span class="font-medium title-font">lupuscordoba@gmail.com</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
          </svg>
          <span class="font-medium title-font">Lupus.Cordoba</span>
        </div>
      </div>
    </div>
    <!-- <button class="flex px-8 py-2 mx-auto mt-16 text-lg text-white bg-violet-500 rounded border-0 focus:outline-none hover:bg-violet-600">Button</button> -->
    <div class="flex overflow-hidden -mx-4 h-80 rounded-lg lg:w-4/5 sm:mx-auto sm:mb-2">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1702.47290638543!2d-64.181645!3d-31.415618999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29cebb4e403%3A0xaf9b896db8c179d7!2s25%20de%20Mayo%20148%2C%20X5019EHD%20C%C3%B3rdoba!5e0!3m2!1sen!2sar!4v1650329106016!5m2!1sen!2sar" width="1920" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d425.61825608762666!2d-64.1817388!3d-31.4156125!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29cebb4e403%3A0xaf9b896db8c179d7!2s25%20de%20Mayo%20148%2C%20X5019EHD%20C%C3%B3rdoba!5e0!3m2!1sen!2sar!4v1650328532227!5m2!1sen!2sar"  class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    </div>
  </div>
</section>