<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-8 w-full text-center">
      <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Síntomas</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">Articulo de <a class="italic hover:text-violet-800" href="https://www.reumaquiensos.org.ar/">Reuma quién sos?</a>. Consulte a su medico si padece varios de estos sintomas.</p>
    </div>
    <div class="pt-2 mt-2 text-center sm:pl-8 sm:pb-8 sm:pt-2 sm:px-16 sm:mt-0 sm:text-left">
      <p class="mb-4 text-lg leading-relaxed">
        El lupus suele tener un comienzo lento, insidioso, de forma tal que los síntomas van apareciendo en forma progresiva durante semanas, meses e incluso años. De cualquier forma, hay una serie de síntomas que, en general, todos los pacientes presentan. Estos son compromiso del estado general, febrícula persistente, decaimiento, fatiga a lo que puede ir sumándose una marcada caída del cabello, dolor músculo esquelético e incluso inflamación articular, cambios de coloración en los dedos de manos y pies con la exposición al frío (fenómeno de Raynaud) y distintos tipos de erupciones en la piel, entre las cuales la más característica es la llamada “en alas de mariposa” con enrojecimiento de la región malar en la cara, que se extiende al puente de la nariz. Estas lesiones en la piel empeoran con la exposición al sol, lo que se denomina fotosensibilidad.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El lupus puede afectar cualquier órgano, por consiguiente, los síntomas predominantes estarán relacionados con el órgano más comprometido.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El compromiso renal es uno de los que marca el pronóstico de la enfermedad, ya que la función del riñón puede alterarse por la inflamación que produce la enfermedad y en algunos casos llegar a la insuficiencia renal.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        La afectación del sistema nervioso central también es una manifestación grave, los pacientes pueden presentar convulsiones y otras manifestaciones neurológicas y psiquiátricas.
      </p>
    </div>
    <h1 class="text-xl font-bold text-gray-900 sm:pl-8 sm:pb-8 sm:pt-2 sm:px-16 sm:mt-0 sm:text-left title-font">Los sintomas más frecuentes incluyen:</h1>
    <div class="flex flex-wrap -mx-2 lg:w-4/5 sm:mx-auto sm:mb-2">
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Dolor o hinchazón en las articulaciones</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Dolor muscular</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Dedos de las manos o pies pálidos o de color púrpura
          </span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Erupciones rojas en la piel, generalmente en la cara y en forma de mariposa</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Dolor en el pecho al respirar en forma profunda</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Pérdida de cabello</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Fiebre sin causa conocida</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Sensibilidad al sol</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Hinchazón en las piernas o alrededor de los ojos</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Úlceras en la boca</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Glándulas inflamadas</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Cansancio extremo</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Dolor de cabeza</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Depresión</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Confusión (desorientación)</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium title-font">Convulsiones</span>
        </div>
      </div>

    </div>

    <div class="pt-2 mt-2 text-center sm:pl-8 sm:pb-8 sm:pt-2 sm:px-16 sm:mt-0 sm:text-left">
      <p class="mb-4 text-lg leading-relaxed">
        Las manifestaciones clínicas más frecuentes son los síntomas generales previos y ademas el dolor e inflamación de las articulaciones (artritis) y los músculos (mialgia). El 90 por ciento de los pacientes con Lupus padecen artritis en manos, muñecas, codos, rodillas y pies con más frecuencia.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        También es frecuente la afección en la piel. La lesión más conocida, aunque no la más frecuente, es la denominada “eritema en alas de mariposa”, que consiste en un enrojecimiento y erupción de la piel en las mejillas y la nariz que se brota con la exposición al sol (fotosensibilidad). Muy frecuentemente se produce en los enfermos con lupus la caída del cabello cuando la enfermedad está activa.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        Cuando afecta al corazón y pulmones ocasiona diferentes síntomas desde dolor torácico y fiebre hasta dificultad para respirar (disnea) de intensidades variables dificultando esfuerzos hasta actividades cotidianas. En otras ocasiones, el lupus afecta a los pulmones o a las válvulas del corazón ocasionando insuficiencia cardiaca y/o respiratoria.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El lupus puede afectar a los riñones, la forma de manifestarlo por ejemplo es subiendo la presión arterial (hipertensión) y/o produciendo llamativamente por ejemplo orinar con espuma. La lesión más frecuente es la inflamación (nefritis), impidiendo que el riñón retenga las proteínas y elimine adecuadamente los residuos del organismo que se acumulan en la sangre, ocasionando hinchazón de la cara y piernas.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El sistema nervioso puede afectarse por el Lupus. Se manifiesta con dolores de cabeza (cefalea), cambios en el carácter y en ocasiones produce depresión y convulsiones. Son manifestaciones muy frecuentes en la población general y puede deberse a una leve inflamación cerebral por Lupus o por otras muchas circunstancias.
      </p>
      <p class="mb-4 text-lg leading-relaxed">
        El síndrome antifosfolípido puede aparecer aislada o puede asociarse a otras enfermedades como el lupus. Es una enfermedad que produce unos anticuerpos especiales (anticuerpos anticardiolipina o anticuerpos para el anticoagulante lúpico) que pueden originar problemas en la coagulación, como trombosis arteriales o venosas y / o abortos a repetición. En esta situación es muy probable que se precise tomar medicación para evitar problemas en la coagulación.
      </p>
    </div>
  </div>
</section>