<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-8 w-full text-center">
      <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Síntomas</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">Articulo sacado de "medlineplus, información de la salud para usted". Consulte a su medico si padece varios de estos sintomas</p>
    </div>
    <div class="pt-2 mt-2 text-center sm:pl-8 sm:pb-8 sm:pt-2 sm:px-16 sm:mt-0 sm:text-left">
      <p class="mb-4 text-lg leading-relaxed">El lupus puede tener muchos síntomas que difieren de una persona a otra. Los síntomas pueden aparecer y desaparecer, a esto se le llama "brotes". Los brotes pueden ser leves o severos, y nuevos síntomas pueden aparecer en cualquier momento. Algunos de los más comunes son:</p>
    </div>
    <div class="flex flex-wrap -mx-2 lg:w-4/5 sm:mx-auto sm:mb-2">
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Dolor o hinchazón en las articulaciones</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Dolor muscular</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Dedos de las manos o pies pálidos o de color púrpura
          </span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Erupciones rojas en la piel, generalmente en la cara y en forma de mariposa</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Dolor en el pecho al respirar en forma profunda</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Pérdida de cabello</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Fiebre sin causa conocida</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Sensibilidad al sol</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Hinchazón en las piernas o alrededor de los ojos</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Úlceras en la boca</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Glándulas inflamadas</span>
        </div>
      </div>
      <div class="p-2 w-full sm:w-1/2">
        <div class="flex items-center p-4 h-full bg-gray-100 rounded">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="flex-shrink-0 mr-4 w-6 h-6 text-violet-500" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="font-medium title-font">Cansancio extremo</span>
        </div>
      </div>

    </div>
  </div>
</section>