<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col w-full text-center">
      <h1 class="mb-4 text-2xl font-medium tracking-widest text-gray-900 title-font">Nuestra madrina</h1>
    </div>
    <div class="flex flex-wrap justify-center -m-4">
      <div class="p-4 lg:w-4/6">
        <div class="flex flex-col justify-center items-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="object-cover object-center flex-shrink-0 mb-4 h-80 rounded-lg sm:mb-0" src="/assets/miembros/madrina.png">
          <div class="flex-grow sm:pl-8">
            <h2 class="mb-4 text-lg font-medium text-gray-900 title-font">Alejandra García Krizanec</h2>
            <p class="mb-6">
              Alejandra es periodista, locutora y productora general. Especialista en periodismo de salud. Se la puede escuchar en la radio Continental Córdoba y en CNN Radio Córdoba. También en shows de El Doce y Televisión Pública. Y por sobre todo, es mamá de Ana y Luka.
            </p>
            <p class="mb-6">
              Es una persona muy dedicada y solidaria que ama ayudar a las personas. Ella nos acompaña y nos brinda su apoyo incondicional.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 pb-12 mx-auto">
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-12 text-2xl font-medium tracking-widest text-gray-900 title-font">Somos miembros de</h1>
      <div class="container flex flex-col items-center px-5 mx-auto md:flex-row">
        <div class="flex flex-col mb-12 w-full text-center">
          <a class="self-center hover:text-violet-800" href="https://fadepof.org.ar/">
            <img class="h-14" src="/assets/logos/fadepof.svg">
          </a>
        </div>
        <div class="flex flex-col mb-12 w-full text-center">
          <a class="self-center hover:text-violet-800" href="https://asopan.org/">
            <img class="h-32" src="/assets/logos/asopan.png">
          </a>
        </div>
        <div class="flex flex-col mb-12 w-full text-center">
          <a class="self-center hover:text-violet-800" href="https://worldlupusfederation.org/">
            <img class="h-32" src="/assets/logos/fml.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 pb-12 mx-auto">
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-12 text-2xl font-medium tracking-widest text-gray-900 title-font">Nos acompañan</h1>
      <div class="container flex flex-col items-center px-5 mx-auto md:flex-row">
        <div class="flex flex-col mb-12 w-full text-center">
          <a class="self-center hover:text-violet-800" href="http://www.colfacor.org.ar/">
            <img class="h-32" src="/assets/logos/cofacor.png">
          </a>
        </div>
        <div class="flex flex-col mb-12 w-full text-center">
          <a class="self-center hover:text-violet-800" href="https://www.naranjax.com/">
            <img class="h-14" src="/assets/logos/nx.svg">
          </a>
        </div>
        <div class="flex flex-col mb-12 w-full text-center">
          <a class="self-center hover:text-violet-800" href="https://farmaciasred.com.ar/">
            <img class="h-32" src="/assets/logos/red.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="text-gray-600 body-font">
  <div class="container px-5 pb-12 mx-auto">
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-4 text-2xl font-medium tracking-widest text-gray-900 title-font">Un ensayo para mí</h1>
      <a class="self-center hover:text-violet-800" href="https://www.unensayoparami.org/">
        <img class="w-60" src="/assets/logo-un-ensayo-para-mi.png">
      </a>
      <p class="mx-auto text-base leading-relaxed text-center lg:w-2/3">
        Promovemos la Investigación apoyando Un ensayo para mí. Un Ensayo para Mí es el primer buscador de ensayos clínicos en español para toda Latinoamérica. Tiene el objetivo de facilitar el acceso de los pacientes a los nuevos tratamientos disponibles y aprobados que se investigan en la región.
      </p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <!-- <div class="container flex flex-col px-5 mx-auto md:flex-row"> -->
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-4 text-2xl font-medium tracking-widest text-gray-900 title-font">Nuestras redes de comunicación</h1>
      <a class="hover:text-violet-800" href="https://21.edu.ar/">Universidad Siglo 21</a>
      <a class="hover:text-violet-800" href="https://fcc.unc.edu.ar/">Facultad de Ciencias de Comunicación - UNC</a>
      <a class="hover:text-violet-800" href="https://www.cup.edu.ar/">Colegio Universitario de Periodismo</a>
      <a class="hover:text-violet-800" href="https://www.facebook.com/RPGRamirez/">RPG Ramírez</a>
    </div>

</section>

  <!-- <section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-col mb-12 w-full text-center">
        <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Somos miembros de</h1>
        <p class="mx-auto text-base leading-relaxe lg:w-2/3">
          <a class="hover:text-violet-800" href="https://fadepof.org.ar/">FADEPOF - Federación Argentina de Enfermedades Poco Frecuentes</a>
        </p>
        <p class="mx-auto text-base leading-relaxed lg:w-2/3">
          <a class="hover:text-violet-800" href="https://asopan.org/">ASOPAN - Red de Asociación de Pacientes Panamericana de Enfermedades Reumáticas</a>
        </p>
      </div>
    </div>
  </section> -->



  <!-- <section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-col mb-12 w-full text-center">
        <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Nos acompañan</h1>
        <p class="mx-auto text-base leading-relaxe lg:w-2/3">
          <a class="hover:text-violet-800" href="https://21.edu.ar/">Universidad Siglo 21</a>
        </p>
        <p class="mx-auto text-base leading-relaxed lg:w-2/3">
          <a class="hover:text-violet-800" href="https://fcc.unc.edu.ar/">Facultad de Ciencias de Comunicación - UNC</a>
        </p>
        <p class="mx-auto text-base leading-relaxed lg:w-2/3">
          <a class="hover:text-violet-800" href="https://www.cup.edu.ar/">Colegio Universitario de Periodismo</a>
        </p>
        <p class="mx-auto text-base leading-relaxed lg:w-2/3">
          <a class="hover:text-violet-800" href="https://www.facebook.com/RPGRamirez/">RPG Ramírez</a>
        </p>
      </div>
    </div>
  </section> -->