<section class="text-gray-600 body-font">
  <div class="container px-5 pt-24 pb-12 mx-auto">
    <div class="flex flex-col mb-12 w-full text-center">
      <h1 class="mb-4 text-2xl font-medium tracking-widest text-gray-900 title-font">La fundación</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">
        Hace 10 años que formamos la fundación, año a año se van sumando más personas que nos ayudan a crecer y cumplir con nuestra misión: Ayudar a los demás.
        Realizamos diferentes actividades, ya sea en la sede o en otros espacios, incluso al aire libre.
        Hacemos reuniones en el parque para estar unidos, es importante poder hablar con gente que te entiente y se siente como vos.
        A veces hay sorteos y rifas, ademas vendemos algunos productos en la sede para sustentar econónicamente a la sede.
        Y por sobre todo, acompañamos y apoyamos a quien lo necesite.
      </p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto">
    <div class="flex flex-col mb-12 w-full">
      <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Nuestras actividades</h1>
      <p class="mx-auto text-base leading-relaxed text-left lg:w-2/3">
        <li>Campañas de difusión, abordaje y sensibilización sobre Lupus en eventos propios y de salud en general, para construir trabajos en red entre la familia, la comunidad e instituciones de todos los ámbitos.</li>
        <li>Brindamos asistencia e información al paciente con lupus y su familia, imprescindible para desmitificar aspectos que los mantienen en un estado de incertidumbre e ignorancia.</li>
        <li>Fomentamos el autocuidado y responsabilidad con el tratamiento integral para optimizar al máximo la calidad de vida del paciente y su entorno.</li>
        <li>Contamos con un espacio terapéutico para niños, jóvenes, adultos y familia, en el que ofrecemos apoyo emocional.</li>
        <li>Administramos un pequeño banco de medicamentos mantenido con donaciones de pacientes y laboratorios</li>
        <li>En nuestra sede ofrecemos cursos varios, algunos emitidos por nuestros miembros.</li>
        <li>Charlas y talleres de concientización dictados por profesionales.</li>
        <li>Brindamos asesoría e información en aspectos jurídicos.</li>
      </p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto">
    <div class="flex flex-col mb-12 w-full">
      <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Nuestra misión</h1>
      <p class="mx-auto text-base leading-relaxed text-left lg:w-2/3">
        <li>Generar estrategias para difundir e informar sobre la enfermedad, la importancia de un diagnóstico precoz y un tratamiento integral adecuado, con el fin de prevenir posibles discapacidades como consecuencia del Lupus.</li>
        <li>Acompañar, asesorar y contener a la persona con diagnóstico Lupus y a su familia.</li>
        <li>Mediar en pos de los derechos del paciente y acceso a la salud.</li>
        <li>Promover la investigación científica, para encontrar nuevos tratamientos, y en algún momento la cura de la enfermedad.</li>
      </p>
    </div>
  </div>
</section>