<footer class="text-gray-600 bg-violet-500 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap order-first text-center md:text-left">

      <div class="px-4 w-full lg:w-1/4 md:w-1/2">
        <img src="assets/logo-blanco.jpg" class="mx-auto w-1/2">
      </div>

      <div class="px-4 w-full text-center lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 font-medium tracking-widest text-white title-font">Links útiles</h2>
        <nav class="mb-10 list-none">
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" href="https://www.reumaquiensos.org.ar/">Reuma quien sos?</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" href="https://www.reumatologia.org.ar/">Sociedad Argentina de Reumatología</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" href="https://www.hablemosdelupus.org/">Hablemos de Lupus</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" href="https://www.instagram.com/es.lupus/">¿Es lupus?</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" href="https://fadepof.org.ar/">FADEPOF</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" href="https://asopan.org/">ASOPAN</a>
          </li>
        </nav>
      </div>

      <div class="px-4 w-full text-center lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 font-medium tracking-widest text-white title-font">Secciones</h2>
        <nav class="mb-10 list-none">
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" routerLink="/fundacion">Quiénes somos?</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" routerLink="/lupus">Qué es Lupus?</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" routerLink="/articulos">Artículos</a>
          </li>
        </nav>
      </div>
      <div class="px-4 w-full text-center lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 font-medium tracking-widest text-white title-font">Contactanos</h2>
        <nav class="mb-10 list-none">
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer" href="https://goo.gl/maps/UARqvwsvSc18uUPe7">25 de Mayo 140 Oficina 1</a>
          </li>
          <li>
            <a class="text-white hover:text-yellow-200 cursor:pointer">lupuscordoba@gmail.com</a>
          </li>

        </nav>
      </div>
      <!-- <div class="px-4 w-full lg:w-1/4 md:w-1/2">
        <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font">Whatsapp</h2>
        <div class="flex flex-wrap justify-center items-end xl:flex-nowrap md:flex-nowrap lg:flex-wrap md:justify-start">
          <div class="relative mr-2 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4">
            <label for="footer-field" class="text-sm leading-7 text-gray-600">Deja tu whatsapp</label>
            <input type="text" id="footer-field" name="footer-field" class="px-3 py-1 w-full text-base leading-8 text-gray-700 bg-gray-100 bg-opacity-50 rounded border border-gray-300 transition-colors duration-200 ease-in-out outline-none focus:bg-transparent focus:ring-2 focus:ring-violet-200 focus:border-violet-500">
          </div>
          <button class="inline-flex flex-shrink-0 px-6 py-2 text-white bg-violet-500 rounded border-0 lg:mt-2 xl:mt-0 focus:outline-none hover:bg-violet-600">Button</button>
        </div>
        <p class="mt-2 text-sm text-center text-gray-500 md:text-left">Para agregarte al grupo
          <br class="hidden lg:block">de whatsapp de la Fundación
        </p>
      </div> -->
    </div>
  </div>
  <div class="bg-violet-900">
    <div class="container flex flex-col items-center px-5 py-6 mx-auto sm:flex-row">
      <a class="flex justify-center items-center font-medium text-gray-900 title-font md:justify-start">
        <span class="ml-3 text-xl font-bold text-white">Fundación Lupus Córdoba</span>
      </a>
      <p class="mt-4 text-sm text-white sm:ml-6 sm:mt-0">2021 Creando lazos —
        <a href="https://kaysoohyun.web.app" rel="noopener noreferrer" class="ml-1 text-white hover:text-yellow-400" target="_blank">@kaysoohyun</a>
      </p>
      <span class="inline-flex justify-center mt-4 sm:ml-auto sm:mt-0 sm:justify-start">
        <a class="text-white hover:text-yellow-400" href="https://www.facebook.com/LupusCordoba">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-white hover:text-yellow-400" href="https://twitter.com/LupusCordoba?s=20&t=NAPky4AF0glImpIHYBIw7Q">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-white hover:text-yellow-400" href="https://www.instagram.com/fundacion_lupus_cordoba_/">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>