<section class="mt-8 text-gray-600 body-font">
  <div class="container flex flex-wrap px-5 py-24 mx-auto">
    <div class="flex flex-wrap content-start -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 sm:pr-10">
      <div class="flex flex-col px-4 mb-6 w-full sm:p-4">
        <h1 class="mb-4 text-3xl font-medium text-gray-900 title-font sm:text-4xl">Comunidad</h1>
        <div class="mb-8 leading-relaxed">Somos una gran comunidad que se sostiene con la ayuda de todos. 1 de cada 2000 personas tiene la enfermedad por lo que pedimos que el lupus sea agregado a la agenda de salud pública de la provincia de Córdoba. De esta forma podriamos acceder a la medicacion correspondiente en tiempo y forma.</div>
        <div class="mb-8 leading-relaxed">Estamos realizando un registro de personas con lupus en Córdoba capital e interior para presentar estadisticas sobre la población y de esa forma pedir una mejor atención en los hospitales.</div>
        <!-- <a href="url" target="_blank">...</a> -->
        <a href="https://forms.gle/A4sBMSDiUzFYxANg6" target="_blank"
          class="flex flex-row items-baseline self-center p-4 space-x-2 bg-gray-200 rounded-lg hover:bg-violet-500 hover:font-bold hover:text-white">
          <p>Completar el registro</p>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
        </a>
      </div>

      <!-- <div class="p-4 w-1/2 sm:w-1/2 lg:w-1/4">
        <h2 class="text-3xl font-medium text-gray-900 title-font">8mil</h2>
        <p class="leading-relaxed">Personas con lupus en Córdoba</p>
      </div>
      <div class="p-4 w-1/2 sm:w-1/2 lg:w-1/4">
        <h2 class="text-3xl font-medium text-gray-900 title-font">20mil</h2>
        <p class="leading-relaxed">Remedios entregados por año</p>
      </div>
      <div class="p-4 w-1/2 sm:w-1/2 lg:w-1/4">
        <h2 class="text-3xl font-medium text-gray-900 title-font">28mil</h2>
        <p class="leading-relaxed">Personas con lupus en el País</p>
      </div> -->
    </div>
    <div class="overflow-hidden mt-6 w-full rounded-lg lg:w-1/2 sm:w-1/3 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="assets/foto-legislatura.jpg" alt="Foto de una reunión en la legislatura entre la comisión de salud y la fundación de lupus córdoba">
    </div>
  </div>
</section>

<!-- Es un registro para conocer la cantidad de personas que tienen Lupus en Córdoba. Esto nos sirve a la hora de poder activar políticas públicas en relación a nuestros tratamientos. Es decir, pedir que en el hospital haya siempre remedios por ejemplo o que haya más profesionales atendiendo -->

<!-- Link del formulario -->
<!-- https://forms.gle/A4sBMSDiUzFYxANg6 -->