<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-20 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Salud pública</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3">
        Información legal para personas que tienen lupus.
      </p>
    </div>
    <div class="flex flex-col flex-wrap text-lg leading-relaxed whitespace-pre-line">

      <h1 class="mb-2 text-xl font-bold text-gray-900 title-font">Ley 26.689: Enfermedades poco frecuentes</h1>
      <a class="text-sm italic text-violet-600 hover:text-violet-900" href="https://www.argentina.gob.ar/justicia/derechofacil/leysimple/enfermedades-poco-frecuentes">Referencia</a>
      <p>
        Las enfermedades poco frecuentes (EPF) son las que afectan a un número reducido de personas. Están definidas como enfermedades con una prevalencia menor o igual a 1 persona de cada 2000.
        La ley busca cuidar la salud y mejorar la calidad de vida de las personas que tienen enfermedades poco frecuentes y de sus familias.
        Se puede encontrar el listado en este <a class="italic text-violet-600 hover:text-violet-900" href="argentina.gob.ar/salud/pocofrecuentes/listado">link</a>. Lupus eritematoso sistemico tiene el código 536 por ejemplo.
      </p>
      <p>Las obras sociales y las empresas de medicina prepaga <b>deben</b> dar cobertura asistencial a las personas con enfermedades poco frecuentes (EPF).</p>
      <p>Para más información ingresar en el siguiente link: <a class="italic text-violet-600 hover:text-violet-900" href="https://www.argentina.gob.ar/salud/pocofrecuentes/informacion-util">Información útil sobre EPOF</a></p>

      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-700 title-font">Denuncias</h2>
      <p>Si su obra social o prepaga le niega la cobertura debe realizar una denuncia. Para más información ingresar al siguiente <a class="italic text-violet-600 hover:text-violet-900" href="https://www.miobrasocial.com.ar/blog/reclamos-denuncias-obra-social-prepaga/">link</a></p>
      
      <h1 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">APROSS: Afiliación voluntaria</h1>
      <p>
        Se puede afiliar a la obra social APROSS de forma voluntaria a traves de un intermediario. La empresa FECOTAC es un buen ejemplo.
        APROSS cubre el 100% de los medicamentos para enfermedades crónicas como el lupus.
        Sólo se necesita presentar un formulario de salud con una declaración jurada de un médico y abonar una cuota de incripción equivalente a una cuota mensual. La cuota mensual varia según la edad y depende del APROSS.
      </p>
        <p>
          Para revisar más información sobre APROSS, su cobertura y sus beneficios ingrese en el siguiente <a class="italic text-violet-600 hover:text-violet-900" href="https://www.apross.gov.ar/">link</a>.
        </p>
        <p>
          Para más información sobre FECOTAC ingrese en el siguiente <a class="italic text-violet-600 hover:text-violet-900" href="http://www.fecotac.com.ar/">link</a>.
        </p>
      





    </div>
  </div>
</section>