<style>
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .header-img {
    background-image: linear-gradient(
      rgba(185, 79, 160, 0.85), 
      rgba(185, 79, 160, 0.85)), 
      url(assets/fotogrupal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>

<section class="header header-img">
  <h1>Fundación Lupus Córdoba</h1>
  <p>
    Somos una fundación destinada a ayudar y acompañar a todas las personas 
    tanto las que tengan lupus como los familiares y amigos que soliciten ayuda
  </p>
  <a href="#infofundacion">
    Conocer más
  </a>
</section>