<div class="container flex flex-col mx-auto sm:flex-row">
  <div class="self-center px-5 pt-24 pb-12 w-56 sm:self-baseline">
    <ul class="divide-y">
      <li class="py-4 tracking-wider text-gray-600 cursor-pointer hover:text-violet-800" [ngClass]="{'text-violet-500 font-bold': currentSection == item.id}" *ngFor="let item of sections" (click)="currentSection = item.id">
        {{item.name}}
      </li>
    </ul>
  </div>

  <div>
    <app-nosotros *ngIf="currentSection == 0"></app-nosotros>
    <app-team *ngIf="currentSection == 1"></app-team>
    <app-redes *ngIf="currentSection == 2"></app-redes>
  </div>
</div>
