<div class="flex flex-row">
  <div>

<aside class="w-64" aria-label="Sidebar">
  <div class="overflow-y-auto px-3 py-4 bg-gray-50 rounded dark:bg-gray-800">
  <ul class="space-y-2">
  <li>
  <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
  <svg class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
  <span class="ml-3">Dashboard</span>
  </a>
  </li>
  <li>
  <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
  <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
  <span class="flex-1 ml-3 whitespace-nowrap">Kanban</span>
  <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
  </a>
  </li>
  <li>
  <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
  <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path><path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path></svg>
  <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
  <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:bg-blue-900 dark:text-blue-200">3</span>
  </a>
  </li>
  <li>
  <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
  <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
  <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
  </a>
  </li>
  <li>
  <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
  <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
  <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
   </a>
  </li>
  <li>
  <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
  <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
  <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
  </a>
  </li>
  <li>
  <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
  <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
  <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
  </a>
  </li>
  </ul>
  </div>
  </aside>
  
  </div>
  <div >
    <section class="text-gray-600 body-font">
      <div class="container px-5 pt-24 pb-12 mx-auto">
        <div class="flex flex-col mb-12 w-full text-center">
          <h1 class="mb-4 text-2xl font-medium tracking-widest text-gray-900 title-font">La fundación</h1>
          <p class="mx-auto text-base leading-relaxed lg:w-2/3">
            Hace 10 años que formamos la fundación, año a año se van sumando más personas que nos ayudan a crecer y cumplir con nuestra misión: Ayudar a los demás.
            Realizamos diferentes actividades, ya sea en la sede o en otros espacios, incluso al aire libre.
            Hacemos reuniones en el parque para estar unidos, es importante poder hablar con gente que te entiente y se siente como vos.
            A veces hay sorteos y rifas, ademas vendemos algunos productos en la sede para sustentar econónicamente a la sede.
            Y por sobre todo, acompañamos y apoyamos a quien lo necesite.
          </p>
        </div>
      </div>
    </section>
  
    <section class="text-gray-600 body-font">
      <div class="container px-5 mx-auto">
        <div class="flex flex-col mb-12 w-full">
          <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Nuestras actividades</h1>
          <p class="mx-auto text-base leading-relaxed text-left lg:w-2/3">
            <li>Campañas de difusión, abordaje y sensibilización sobre Lupus en eventos propios y de salud en general, para construir trabajos en red entre la familia, la comunidad e instituciones de todos los ámbitos.</li>
            <li>Brindamos asistencia e información al paciente con lupus y su familia, imprescindible para desmitificar aspectos que los mantienen en un estado de incertidumbre e ignorancia.</li>
            <li>Fomentamos el autocuidado y responsabilidad con el tratamiento integral para optimizar al máximo la calidad de vida del paciente y su entorno.</li>
            <li>Contamos con un espacio terapéutico para niños, jóvenes, adultos y familia, en el que ofrecemos apoyo emocional.</li>
            <li>Administramos un pequeño banco de medicamentos mantenido con donaciones de pacientes y laboratorios</li>
            <li>En nuestra sede ofrecemos cursos varios, algunos emitidos por nuestros miembros.</li>
            <li>Charlas y talleres de concientización dictados por profesionales.</li>
            <li>Brindamos asesoría e información en aspectos jurídicos.</li>
          </p>
        </div>
      </div>
    </section>
  
    <section class="text-gray-600 body-font">
      <div class="container px-5 mx-auto">
        <div class="flex flex-col mb-12 w-full">
          <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Nuestra misión</h1>
          <p class="mx-auto text-base leading-relaxed text-left lg:w-2/3">
            <li>Generar estrategias para difundir e informar sobre la enfermedad, la importancia de un diagnóstico precoz y un tratamiento integral adecuado, con el fin de prevenir posibles discapacidades como consecuencia del Lupus.</li>
            <li>Acompañar, asesorar y contener a la persona con diagnóstico Lupus y a su familia.</li>
            <li>Mediar en pos de los derechos del paciente y acceso a la salud.</li>
            <li>Promover la investigación científica, para encontrar nuevos tratamientos, y en algún momento la cura de la enfermedad.</li>
          </p>
        </div>
      </div>
    </section>
  
    <!-- <section class="text-gray-600 body-font">
      <div class="container px-5 mx-auto">
        <div class="flex flex-col mb-12 w-full text-center">
          <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Somos miembros de</h1>
          <p class="mx-auto text-base leading-relaxe lg:w-2/3">
            <a class="hover:text-violet-800" href="https://fadepof.org.ar/">FADEPOF - Federación Argentina de Enfermedades Poco Frecuentes</a>
          </p>
          <p class="mx-auto text-base leading-relaxed lg:w-2/3">
            <a class="hover:text-violet-800" href="https://asopan.org/">ASOPAN - Red de Asociación de Pacientes Panamericana de Enfermedades Reumáticas</a>
          </p>
        </div>
      </div>
    </section> -->
  
    <section class="text-gray-600 body-font">
      <div class="container px-5 mx-auto">
        <div class="flex flex-col mb-12 w-full">
          <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Un ensayo para mí</h1>
          <a class="self-center hover:text-violet-800" href="https://www.unensayoparami.org/">
            <img class="w-60" src="/assets/logo-un-ensayo-para-mi.png">
          </a>
          <p class="mx-auto text-base leading-relaxed text-center lg:w-2/3">
            Promovemos la Investigación apoyando Un ensayo para mí. Un Ensayo para Mí es el primer buscador de ensayos clínicos en español para toda Latinoamérica. Tiene el objetivo de facilitar el acceso de los pacientes a los nuevos tratamientos disponibles y aprobados que se investigan en la región.
          </p>
        </div>
      </div>
    </section>
  
    <section class="text-gray-600 body-font">
      <div class="container flex flex-col px-5 mx-auto md:flex-row">
        <div class="flex flex-col mb-12 w-full text-center">
          <h1 class="mb-4 text-xl font-medium tracking-widest text-center text-gray-900 title-font">Somos miembros de</h1>
          <a class="hover:text-violet-800" href="https://fadepof.org.ar/">FADEPOF</a>
          <a class="hover:text-violet-800" href="https://asopan.org/">ASOPAN</a>
        </div>
        <div class="flex flex-col mb-12 w-full text-center">
          <h1 class="mb-4 text-xl font-medium tracking-widest text-center text-gray-900 title-font">Nos acompañan</h1>
          <a class="hover:text-violet-800" href="http://www.colfacor.org.ar/">Colegio de Farmacéuticos de Córdoba</a>
          <a class="hover:text-violet-800" href="https://www.naranjax.com/">Naranja X</a>
          <a class="hover:text-violet-800" href="https://farmaciasred.com.ar/">Farmacias Red</a>
        </div>
        <div class="flex flex-col mb-12 w-full text-center">
          <h1 class="mb-4 text-xl font-medium tracking-widest text-center text-gray-900 title-font">Nuestras redes de comunicación</h1>
          <a class="hover:text-violet-800" href="https://21.edu.ar/">Universidad Siglo 21</a>
          <a class="hover:text-violet-800" href="https://fcc.unc.edu.ar/">Facultad de Ciencias de Comunicación - UNC</a>
          <a class="hover:text-violet-800" href="https://www.cup.edu.ar/">Colegio Universitario de Periodismo</a>
          <a class="hover:text-violet-800" href="https://www.facebook.com/RPGRamirez/">RPG Ramírez</a>
        </div>
      </div>
    </section>
  
    <!-- <section class="text-gray-600 body-font">
      <div class="container px-5 mx-auto">
        <div class="flex flex-col mb-12 w-full text-center">
          <h1 class="mb-4 text-2xl font-medium tracking-widest text-center text-gray-900 title-font">Nos acompañan</h1>
          <p class="mx-auto text-base leading-relaxe lg:w-2/3">
            <a class="hover:text-violet-800" href="https://21.edu.ar/">Universidad Siglo 21</a>
          </p>
          <p class="mx-auto text-base leading-relaxed lg:w-2/3">
            <a class="hover:text-violet-800" href="https://fcc.unc.edu.ar/">Facultad de Ciencias de Comunicación - UNC</a>
          </p>
          <p class="mx-auto text-base leading-relaxed lg:w-2/3">
            <a class="hover:text-violet-800" href="https://www.cup.edu.ar/">Colegio Universitario de Periodismo</a>
          </p>
          <p class="mx-auto text-base leading-relaxed lg:w-2/3">
            <a class="hover:text-violet-800" href="https://www.facebook.com/RPGRamirez/">RPG Ramírez</a>
          </p>
        </div>
      </div>
    </section> -->
  
    <app-team></app-team>
  </div>
</div>