<!-- NAVBAR -->
<header class="sticky top-0 z-50 text-gray-600 bg-white shadow-md body-font shadow-violet-300">
  <div class="container flex relative flex-col flex-wrap items-center p-4 mx-auto bg-white md:flex-row"
    [ngClass]="{'menu-mobile': menu}">
    <!-- Mobile toggle -->
    <div (click)="onOpenMenu()" class="mobile-nav-toggle">
      <button *ngIf="!menu" class="align-middle" aria-label="Abre un menu con la lista de opciones para navegar por la pagina">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <button *ngIf="menu" aria-label="Cierra el menu navegacion">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <!-- Logo -->
    <button
      [ngClass]="menu ?  'open-menu' : 'close-menu'"
      class="flex items-center my-4 font-medium text-gray-900 title-font md:my-0 group"
      (click)="menu = false"
      routerLink="">
      <img src="assets/logo-navbar.png" class="p-2 w-14 h-14">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" class="p-2 w-10 h-10 text-white bg-violet-500 rounded-full group-hover:bg-violet-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg> -->
      <span class="ml-3 text-xl group-hover:text-violet-500">Fundación Lupus Córdoba</span>
    </button>


    <!-- Navigation -->
    <nav [ngClass]="menu ?  'open-menu' : 'close-menu'"
      class="flex flex-col flex-wrap justify-center items-center text-base md:flex-row navigation md:ml-auto">
      <button class="mr-5 button-transparent" routerLink="fundacion" (click)="menu = false">Fundación</button>
      <!-- <button class="mr-5 button-transparent" (click)="gate('blog')">Blog</button> -->
      <!-- TODO menu desplegable con "sintomas/cuidados/hospitales/salud publica" -->
      <button class="mr-5 button-transparent" routerLink="articulos" (click)="menu = false">Artículos</button>
      <button class="mr-5 button-transparent" routerLink="eventos" (click)="menu = false">Eventos</button>
      <!-- <button class="mr-5 button-transparent" disabled>
        Artículos
        <svg class="-mr-1 ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button> -->
      <!-- <button class="inline-flex items-center px-4 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300" type="button" data-dropdown-toggle="dropdown">Dropdown button
        <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button> -->
      <!-- <button class="mr-5 button-transparent" disabled>Eventos</button> -->
      <button class="mr-5 button-transparent" routerLink="testimonios" (click)="menu = false">Nuestras historias</button>
      <button class="mr-5 button-transparent" routerLink="contacto" (click)="menu = false">Contacto</button>
    </nav>

    <!-- <button class="button-accent">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-1 w-4 h-4" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button> -->

    <!-- <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow">
      <div class="px-4 py-3">
        <span class="block text-sm">Bonnie Green</span>
        <span class="block text-sm font-medium text-gray-900 truncate">name@flowbite.com</span>
      </div>
      <ul class="py-1" aria-labelledby="dropdown">
        <li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Dashboard</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Earnings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
        </li>
      </ul>
      </div> -->

  </div>
</header>
<!-- END NAVBAR -->

<main class="relative">
  <router-outlet></router-outlet>
</main>
