<header>
  <h1 class="mb-4 text-4xl text-purple-900 font-bold text-center sm:text-4xl pt-20">
    EPOF en movimiento 2024
  </h1>
</header>

<section class="text-gray-600 body-font">
  <div class="container flex flex-col items-center lg:items-start px-5 pt-12 pb-24 mx-auto md:flex-row">
    <div class="mb-10 w-5/6 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
      <img class="w-auto" alt="hero" src="assets/epof2024.jpeg">
    </div>
    <div class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
      <p class="mb-8 leading-relaxed">
        El evento se realizara el día Domingo 25 de Febrero con largada a las 9hs.,
        el epicentro de la carrera y lugar de largada y llegada será el predio de la pileta municipal del parque sarmiento,
        en la ciudad de Córdoba - Argentina. Se realizaran  Inscripciones anticipadas a partir del 27/01/2024.
        Las Acreditaciones se realizaran el día 24 de Febrero de 17 a 20hs en el predio de la Pileta Municipal
        del parque Sarmiento y  el mismo día de la carrera de 7 a 8hs para los participantes del interior.
        Podrán participar de las distancias de 10km competitivo con premiación tanto en la general como en categorías,
        4 km participativo con premiación solo a la general y 2 km integración donde no habrá premiación.
        Se entregaran medallas Finisher a todos los participantes que arriben a la meta final.
      </p>
      <a class="self-center inline-flex self-start px-6 py-2 text-lg text-white bg-purple-900 hover:font-bold rounded border-0 focus:outline-none hover:bg-purple-300 hover:text-purple-900"
      href="https://sites.google.com/view/epofenmovimiento/inicio?fbclid=IwAR12Iai1R5tQY1SB1hzOzm3Dne2ChomcoEBu2V8QWA9xKWeQWBUFi_Yxz9k" target="_blank">Inscripción Online Aquí</a>

    </div>
  </div>
</section>


<footer class="text-gray-600 body-font pb-4">
  <div class="container flex flex-col items-center px-5 mx-auto sm:flex-row">
    <img src="assets/logo.png" class="p-2 h-[100px] w-auto" alt="Logo Fundación Lupus Argentina">

    <div class="text-center mt-4 text-sm text-gray-500 sm:mx-4 sm:px-4 sm:border-x-2 sm:border-gray-200 sm:py-2 sm:mt-0">
      <p class="py-2">Seguiremos brindando apoyo y acompañamiento a personas y familiares con diagnóstico de Lupus que también suelen transitar otras patologías como lo es el SAF y enfermedades reumáticas.</p>
      <p>Nuestra página se encuentra en construcción.</p>
    </div>
    <span class="inline-flex justify-center mt-4 sm:ml-auto sm:mt-0 sm:justify-start">
      <a class="icon" href="https://www.facebook.com/LupusArgentina">
        <svg width="20px" height="20px" fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
    </a>
    <a class="icon" href="https://twitter.com/LupusCordoba?s=20&t=NAPky4AF0glImpIHYBIw7Q">
        <svg width="20px" height="20px" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
                fill="currentColor" />
        </svg>
    </a>
    <a class="icon" href="https://www.instagram.com/fundacion_lupus_argentina_/">
        <svg width="20px" height="20px" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
    </a>
    </span>
  </div>
</footer>