<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-20 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Centros de salud</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3">Puede realizarse un chequeo medico en cualquiera de los centros de salud del país. Los siguientes se encuentran en la ciudad de Córdoba y tienen personal capacitado para detectar y tratar la enfermedad.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 w-full xl:w-1/4 md:w-1/2">
        <div class="flex overflow-hidden relative flex-col p-6 h-full rounded-lg border-2 border-gray-300">
          <h2 class="mb-1 text-sm font-medium tracking-widest title-font">PÚBLICO</h2>
          <h1 class="pb-4 mb-4 text-3xl leading-none text-gray-900 border-b border-gray-200">Hospital Córdoba</h1>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Av. Patria 656
          </p>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>0800-555-4141
          </p>
          <p class="flex items-center mb-6 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>info@hospitalcordoba.com.ar
          </p>
          <a class="flex items-center px-4 py-2 mt-auto w-full text-white bg-gray-400 rounded border-0 focus:outline-none hover:bg-gray-500" href="https://goo.gl/maps/5r27jGGRk1mmMQpY6">Ver mapa
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-auto w-4 h-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <!-- <p class="mt-3 text-xs text-gray-500">Se puede sacar turno con un reumatólogo sin derivación.</p> -->
        </div>
      </div>
      <div class="p-4 w-full xl:w-1/4 md:w-1/2">
        <div class="flex overflow-hidden relative flex-col p-6 h-full rounded-lg border-2 border-gray-300">
          <h2 class="mb-1 text-sm font-medium tracking-widest title-font">PÚBLICO</h2>
          <h1 class="pb-4 mb-4 text-3xl leading-none text-gray-900 border-b border-gray-200">Hospital Misericordía</h1>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Belgrano 1502
          </p>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>0351 434-4107
          </p>

          <a class="flex items-center px-4 py-2 mt-auto w-full text-white bg-gray-400 rounded border-0 focus:outline-none hover:bg-gray-500" href="https://goo.gl/maps/hDVYYQnQo32ttw3H6">Ver mapa
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-auto w-4 h-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <!-- <p class="mt-3 text-xs text-gray-500">Se puede sacar turno con un reumatólogo sin derivación.</p> -->
        </div>
      </div>
      <div class="p-4 w-full xl:w-1/4 md:w-1/2">
        <div class="flex overflow-hidden relative flex-col p-6 h-full rounded-lg border-2 border-gray-300">
          <h2 class="mb-1 text-sm font-medium tracking-widest title-font">PRIVADO</h2>
          <h1 class="pb-4 mb-4 text-3xl leading-none text-gray-900 border-b border-gray-200">Clínica Universitaria Reina Fabiola</h1>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Oncativo 1248
          </p>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>0351 414-2121
          </p>
          <a class="flex items-center px-4 py-2 mt-auto w-full text-white bg-gray-400 rounded border-0 focus:outline-none hover:bg-gray-500" href="https://goo.gl/maps/AnVKT97gS9hwSDpf9">Ver mapa
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-auto w-4 h-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <!-- <p class="mt-3 text-xs text-gray-500">Se puede sacar turno con un reumatólogo sin derivación.</p> -->
        </div>
      </div>
      <div class="p-4 w-full xl:w-1/4 md:w-1/2">
        <div class="flex overflow-hidden relative flex-col p-6 h-full rounded-lg border-2 border-gray-300">
          <h2 class="mb-1 text-sm font-medium tracking-widest title-font">PRIVADO</h2>
          <h1 class="pb-4 mb-4 text-3xl leading-none text-gray-900 border-b border-gray-200">Sanatorio Allende</h1>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Obispo Oro 42
          </p>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>0810 555 2553
          </p>
          <a class="flex items-center px-4 py-2 mt-auto w-full text-white bg-gray-400 rounded border-0 focus:outline-none hover:bg-gray-500" href="https://g.page/Sanatorio-Allende-Nueva-Cordoba?share">Ver mapa
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-auto w-4 h-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <!-- <p class="mt-3 text-xs text-gray-500">Se puede sacar turno con un reumatólogo sin derivación.</p> -->
        </div>
      </div>
      <div class="p-4 w-full xl:w-1/4 md:w-1/2">
        <div class="flex overflow-hidden relative flex-col p-6 h-full rounded-lg border-2 border-gray-300">
          <h2 class="mb-1 text-sm font-medium tracking-widest title-font">PRIVADO</h2>
          <h1 class="pb-4 mb-4 text-3xl leading-none text-gray-900 border-b border-gray-200">Hospital Italiano</h1>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Roma 550
          </p>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>0351 410-6500
          </p>
          <p class="flex items-center mb-6 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>info@hospital-italiano.org.ar
          </p>
          <a class="flex items-center px-4 py-2 mt-auto w-full text-white bg-gray-400 rounded border-0 focus:outline-none hover:bg-gray-500" href="https://goo.gl/maps/yBamQPfejVadqhys9">Ver mapa
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-auto w-4 h-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <!-- <p class="mt-3 text-xs text-gray-500">Se puede sacar turno con un reumatólogo sin derivación.</p> -->
        </div>
      </div>
      <div class="p-4 w-full xl:w-1/4 md:w-1/2">
        <div class="flex overflow-hidden relative flex-col p-6 h-full rounded-lg border-2 border-gray-300">
          <h2 class="mb-1 text-sm font-medium tracking-widest title-font">PRIVADO</h2>
          <h1 class="pb-4 mb-4 text-3xl leading-none text-gray-900 border-b border-gray-200">Instituto Strusberg</h1>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Av. Emilio Olmos 247
          </p>
          <p class="flex items-center mb-2 text-gray-600">
            <span class="inline-flex flex-shrink-0 justify-center items-center mr-2 w-4 h-4 text-white bg-gray-400 rounded-full">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>0351 423-2054
          </p>
          <a class="flex items-center px-4 py-2 mt-auto w-full text-white bg-gray-400 rounded border-0 focus:outline-none hover:bg-gray-500" href="https://goo.gl/maps/BaZ5xQYagByPMDne6">Ver mapa
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-auto w-4 h-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <!-- <p class="mt-3 text-xs text-gray-500">Se puede sacar turno con un reumatólogo sin derivación.</p> -->
        </div>
      </div>



    </div>
  </div>
</section>