<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col mb-20 w-full text-center">
      <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">¿Qué es Lupus?</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">
        El lupus es una enfermedad reumática, sistémica, crónica, autoinmune, no contagiosa y que todavía no tiene cura. Puede dañar cualquier parte del organismo, ya que el sistema inmune pierde la capacidad de diferenciar nuestras células y tejidos sanos.
      </p>
    </div>
    <div class="flex flex-wrap">
      <div class="flex flex-col justify-between px-8 py-6 border-l-2 border-gray-200 border-opacity-60 xl:w-1/4 lg:w-1/2 md:w-full">
        <div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">Síntomas</h2>
          <p class="mb-4 text-base leading-relaxed">Posibles sintomas que puede presentar el lupus.</p>
        </div>
        <button class="inline-flex items-center self-start text-violet-500 cursor-pointer button-transparent" routerLink="sintomas">Leer
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 w-4 h-4" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-col justify-between px-8 py-6 border-l-2 border-gray-200 border-opacity-60 xl:w-1/4 lg:w-1/2 md:w-full">
        <div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">Cuidados</h2>
          <p class="mb-4 text-base leading-relaxed">
            Cuidados a tener en cuenta para sobrellevar mejor la enfermedad.
          </p>
        </div>
        <button class="inline-flex items-center self-start text-violet-500 cursor-pointer button-transparent" routerLink="cuidados">Leer
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 w-4 h-4" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-col justify-between px-8 py-6 border-l-2 border-gray-200 border-opacity-60 xl:w-1/4 lg:w-1/2 md:w-full">
        <div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">Hospitales</h2>
          <p class="mb-4 text-base leading-relaxed">Centros de salud, horarios, direcciónes y recomendaciones.</p>
        </div>
        <button class="inline-flex items-center self-start text-violet-500 cursor-pointer button-transparent" routerLink="hospitales">Leer
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 w-4 h-4" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-col justify-between px-8 py-6 border-l-2 border-gray-200 border-opacity-60 xl:w-1/4 lg:w-1/2 md:w-full">
        <div>
          <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">Salud pública</h2>
          <p class="mb-4 text-base leading-relaxed">Obras sociales, coberturas y leyes</p>
        </div>
        <button class="inline-flex items-center self-start text-violet-500 cursor-pointer button-transparent" routerLink="salud-publica">Leer
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 w-4 h-4" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </div>
    <button class="flex px-8 py-2 mx-auto mt-16 text-lg font-bold text-white bg-violet-500 rounded border-0 focus:outline-none hover:bg-yellow-600"
    routerLink="articulos">
      Ver más articulos
    </button>
  </div>
</section>