@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Bree+Serif&family=M+PLUS+1p:wght@400;500&family=Martel&family=Patrick+Hand&display=swap');

:root {
    --primary: hsl(282, 81%, 25%);
}

body {
    font-family: 'Martel', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}