<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <button class="my-4 button-transparent" routerLink="/articulos">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      <span class="pl-4">Volver</span>
    </button>
    <div class="flex flex-col mb-20 w-full text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Enfermedades Reumáticas</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500 lg:w-2/3">
        Información obtenida de <a class="italic hover:text-violet-800" href="https://www.reumaquiensos.org.ar/">Reuma quién sos?</a>.
      </p>
    </div>
    <div class="flex flex-col flex-wrap text-lg leading-relaxed whitespace-pre-line">
      <h1 class="mb-2 text-xl font-bold text-gray-900 title-font">¿Qué son?</h1>
      <p>
        Son afecciones musculo esqueléticas y autoinmune sistemáticas que no solo afectan a huesos, músculos y articulaciones, sino que también a los tejidos que los rodean.
      </p>
      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">¿Tienen cura?</h2>
      <p>
        La gran mayoría de las enfermedades reumáticas son crónicas y no se puede hablar de curación, por lo tanto los tratamientos y controles médicos deben ser continuos.
      </p>
      <p>
        Una vez que se realiza el diagnóstico y se inicia un tratamiento, habitualmente el paciente deberá tomar la medicación por mucho tiempo para mantener bajo control la enfermedad. Sin embargo, en un porcentaje menor de pacientes, si la enfermedad entra en remisión (es decir, cuando el paciente se encuentra libre de síntomas por períodos muy prolongados), los medicamentos pueden disminuirse al mínimo e incluso, a veces suspenderse.
      </p>
      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">¿A quiénes afecta?</h2>
      <p>
        Afecta tanto a niños como jovenes y adultos. Algunas enfermedades afectan más a mujeres y otras más a hombres.
      </p>
      <h2 class="mt-4 mb-2 text-xl font-bold text-gray-900 title-font">El "Reuma" no existe</h2>
      <p>
        No existe una única enfermedad, ya que hay más de 200 enfermedades reumáticas, entre ellas el lupus, artrosis, fibromialgia, etc.
      </p>
    </div>
  </div>
</section>